In [1]:
import pandas as pd
import numpy as np
import MetaTrader5 as mt
from datetime import datetime
from matplotlib import pyplot as plt

### Series

In [ ]:
pd.Series({'lap1':1.23,'lap2':1.22,'lap3':1.55})

lap1    1.23
lap2    1.22
lap3    1.55
dtype: float64

### DataFrame

In [ ]:
df1 = pd.DataFrame({'first':['ashi','aski','husky','messi','pele','ronoldo','kabib'],
                   'last':['taskani','nuke','swart','lenon','no','chri','nurmog'],
                   'age':[21,23,50,45,75,47,35]})
df1

     first     last  age
0     ashi  taskani   21
1     aski     nuke   23
2    husky    swart   50
3    messi    lenon   45
4     pele       no   75
5  ronoldo     chri   47
6    kabib   nurmog   35

In [ ]:
# reading csv
df = pd.read_csv('C:\\Users\\rahma\\Documents\\Deep-Learning-Prerequisites-The-Numpy-Stack-in-Python-V2-\\16-02-2022-TO-17-03-2022RELIANCEALLN.csv')
print(df)

      Symbol Series         Date  Prev Close  Open Price  High Price  \
0   RELIANCE     EQ  16-Feb-2022     2417.95     2430.00     2433.00
1   RELIANCE     EQ  17-Feb-2022     2412.95     2420.10     2454.90
2   RELIANCE     EQ  18-Feb-2022     2443.50     2444.40     2456.40
3   RELIANCE     EQ  21-Feb-2022     2424.40     2412.00     2437.50
4   RELIANCE     EQ  22-Feb-2022     2399.90     2352.90     2395.90
5   RELIANCE     EQ  23-Feb-2022     2389.00     2401.10     2406.55
6   RELIANCE     EQ  24-Feb-2022     2374.05     2305.00     2339.90
7   RELIANCE     EQ  25-Feb-2022     2255.75     2280.10     2307.95
8   RELIANCE     EQ  28-Feb-2022     2283.95     2243.00     2367.35
9   RELIANCE     EQ  02-Mar-2022     2359.55     2334.45     2401.00
10  RELIANCE     EQ  03-Mar-2022     2398.55     2400.00     2414.85
11  RELIANCE     EQ  04-Mar-2022     2378.30     2353.00     2364.30
12  RELIANCE     EQ  07-Mar-2022     2325.55     2278.70     2312.10
13  RELIANCE     EQ  08-Mar-2022     2239.55     2211.50     2246.00
14  RELIANCE     EQ  09-Mar-2022     2235.50     2236.00     2367.00
15  RELIANCE     EQ  10-Mar-2022     2354.10     2400.00     2405.00
16  RELIANCE     EQ  11-Mar-2022     2392.25     2376.05     2411.00
17  RELIANCE     EQ  14-Mar-2022     2399.15     2386.90     2424.40
18  RELIANCE     EQ  15-Mar-2022     2418.85     2427.95     2427.95
19  RELIANCE     EQ  16-Mar-2022     2363.45     2382.00     2407.90
20  RELIANCE     EQ  17-Mar-2022     2403.35     2432.75     2497.40

    Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
0     2395.95     2407.65      2412.95        2417.77                4796294
1     2410.00     2441.00      2443.50        2439.61                5931774
2     2420.15     2427.30      2424.40        2440.25                3126873
3     2384.60     2399.60      2399.90        2409.12                5125968
4     2347.15     2389.75      2389.00        2372.16                6227901
5     2368.00     2371.25      2374.05        2391.23                3373615
6     2243.40     2250.00      2255.75        2291.15               11466725
7     2276.25     2283.00      2283.95        2290.84                6724094
8     2243.00     2355.00      2359.55        2328.64                9828768
9     2329.20     2399.25      2398.55        2376.69                9909226
10    2370.05     2382.00      2378.30        2392.27                4701183
11    2320.35     2327.95      2325.55        2338.20                4986814
12    2222.00     2240.05      2239.55        2256.84                8299295
13    2180.00     2235.05      2235.50        2220.15                9825043
14    2234.15     2358.30      2354.10        2316.35                9421163
15    2360.00     2387.00      2392.25        2386.79                8297995
16    2376.05     2393.15      2399.15        2396.11                5656799
17    2374.00     2422.20      2418.85        2401.52                3849222
18    2340.85     2362.00      2363.45        2386.09                7349740
19    2377.10     2401.50      2403.35        2396.17                5145644
20    2415.10     2487.50      2481.70        2456.66                9886295

        Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
0   1.159633e+10         190438          2607957                   54.37
1   1.447121e+10         211881          2872619                   48.43
2   7.630367e+09         158691          1216161                   38.89
3   1.234908e+10         226214          2888548                   56.35
4   1.477358e+10         197401          3920789                   62.96
5   8.067102e+09         195350          1928054                   57.15
6   2.627201e+10         493459          7266877                   63.37
7   1.540384e+10         281047          3670287                   54.58
8   2.288768e+10         240020          5321030                   54.14
9   2.355116e+10         309328          6277829                   63.35
10  1.124648e+10         230143          2479449                   52.74
11  1.166015e+10         219860          2754095                   55.23
12  1.873017e+10         372828          4962748                   59.80
13  2.181302e+10         428117          5602260                   57.02
14  2.182271e+10         325395          4647153                   49.33
15  1.980560e+10         278083          4102149                   49.44
16  1.355429e+10         199494          3028604                   53.54
17  9.243999e+09         160500          1800381                   46.77
18  1.753714e+10         257511          3924279                   53.39
19  1.232985e+10         185464          2824434                   54.89
20  2.428730e+10         274442          5961590                   60.30

In [ ]:
# to display all the columns and rows
pd.set_option('display.max_columns',21)
pd.set_option('display.max_rows',15)
print(df)

      Symbol Series         Date  Prev Close  Open Price  High Price  \
0   RELIANCE     EQ  16-Feb-2022     2417.95     2430.00     2433.00
1   RELIANCE     EQ  17-Feb-2022     2412.95     2420.10     2454.90
2   RELIANCE     EQ  18-Feb-2022     2443.50     2444.40     2456.40
3   RELIANCE     EQ  21-Feb-2022     2424.40     2412.00     2437.50
4   RELIANCE     EQ  22-Feb-2022     2399.90     2352.90     2395.90
..       ...    ...          ...         ...         ...         ...
16  RELIANCE     EQ  11-Mar-2022     2392.25     2376.05     2411.00
17  RELIANCE     EQ  14-Mar-2022     2399.15     2386.90     2424.40
18  RELIANCE     EQ  15-Mar-2022     2418.85     2427.95     2427.95
19  RELIANCE     EQ  16-Mar-2022     2363.45     2382.00     2407.90
20  RELIANCE     EQ  17-Mar-2022     2403.35     2432.75     2497.40

    Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
0     2395.95     2407.65      2412.95        2417.77                4796294
1     2410.00     2441.00      2443.50        2439.61                5931774
2     2420.15     2427.30      2424.40        2440.25                3126873
3     2384.60     2399.60      2399.90        2409.12                5125968
4     2347.15     2389.75      2389.00        2372.16                6227901
..        ...         ...          ...            ...                    ...
16    2376.05     2393.15      2399.15        2396.11                5656799
17    2374.00     2422.20      2418.85        2401.52                3849222
18    2340.85     2362.00      2363.45        2386.09                7349740
19    2377.10     2401.50      2403.35        2396.17                5145644
20    2415.10     2487.50      2481.70        2456.66                9886295

        Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
0   1.159633e+10         190438          2607957                   54.37
1   1.447121e+10         211881          2872619                   48.43
2   7.630367e+09         158691          1216161                   38.89
3   1.234908e+10         226214          2888548                   56.35
4   1.477358e+10         197401          3920789                   62.96
..           ...            ...              ...                     ...
16  1.355429e+10         199494          3028604                   53.54
17  9.243999e+09         160500          1800381                   46.77
18  1.753714e+10         257511          3924279                   53.39
19  1.232985e+10         185464          2824434                   54.89
20  2.428730e+10         274442          5961590                   60.30

[21 rows x 15 columns]

In [ ]:
# first 5 rows 
print(df.head())

     Symbol Series         Date  Prev Close  Open Price  High Price  \
0  RELIANCE     EQ  16-Feb-2022     2417.95      2430.0      2433.0
1  RELIANCE     EQ  17-Feb-2022     2412.95      2420.1      2454.9
2  RELIANCE     EQ  18-Feb-2022     2443.50      2444.4      2456.4
3  RELIANCE     EQ  21-Feb-2022     2424.40      2412.0      2437.5
4  RELIANCE     EQ  22-Feb-2022     2399.90      2352.9      2395.9

   Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
0    2395.95     2407.65      2412.95        2417.77                4796294
1    2410.00     2441.00      2443.50        2439.61                5931774
2    2420.15     2427.30      2424.40        2440.25                3126873
3    2384.60     2399.60      2399.90        2409.12                5125968
4    2347.15     2389.75      2389.00        2372.16                6227901

       Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
0  1.159633e+10         190438          2607957                   54.37
1  1.447121e+10         211881          2872619                   48.43
2  7.630367e+09         158691          1216161                   38.89
3  1.234908e+10         226214          2888548                   56.35
4  1.477358e+10         197401          3920789                   62.96

In [ ]:
# first 7 rows
print(df.head(7))

     Symbol Series         Date  Prev Close  Open Price  High Price  \
0  RELIANCE     EQ  16-Feb-2022     2417.95      2430.0     2433.00
1  RELIANCE     EQ  17-Feb-2022     2412.95      2420.1     2454.90
2  RELIANCE     EQ  18-Feb-2022     2443.50      2444.4     2456.40
3  RELIANCE     EQ  21-Feb-2022     2424.40      2412.0     2437.50
4  RELIANCE     EQ  22-Feb-2022     2399.90      2352.9     2395.90
5  RELIANCE     EQ  23-Feb-2022     2389.00      2401.1     2406.55
6  RELIANCE     EQ  24-Feb-2022     2374.05      2305.0     2339.90

   Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
0    2395.95     2407.65      2412.95        2417.77                4796294
1    2410.00     2441.00      2443.50        2439.61                5931774
2    2420.15     2427.30      2424.40        2440.25                3126873
3    2384.60     2399.60      2399.90        2409.12                5125968
4    2347.15     2389.75      2389.00        2372.16                6227901
5    2368.00     2371.25      2374.05        2391.23                3373615
6    2243.40     2250.00      2255.75        2291.15               11466725

       Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
0  1.159633e+10         190438          2607957                   54.37
1  1.447121e+10         211881          2872619                   48.43
2  7.630367e+09         158691          1216161                   38.89
3  1.234908e+10         226214          2888548                   56.35
4  1.477358e+10         197401          3920789                   62.96
5  8.067102e+09         195350          1928054                   57.15
6  2.627201e+10         493459          7266877                   63.37

In [ ]:
# last 5 rows
print(df.tail())

      Symbol Series         Date  Prev Close  Open Price  High Price  \
16  RELIANCE     EQ  11-Mar-2022     2392.25     2376.05     2411.00
17  RELIANCE     EQ  14-Mar-2022     2399.15     2386.90     2424.40
18  RELIANCE     EQ  15-Mar-2022     2418.85     2427.95     2427.95
19  RELIANCE     EQ  16-Mar-2022     2363.45     2382.00     2407.90
20  RELIANCE     EQ  17-Mar-2022     2403.35     2432.75     2497.40

    Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
16    2376.05     2393.15      2399.15        2396.11                5656799
17    2374.00     2422.20      2418.85        2401.52                3849222
18    2340.85     2362.00      2363.45        2386.09                7349740
19    2377.10     2401.50      2403.35        2396.17                5145644
20    2415.10     2487.50      2481.70        2456.66                9886295

        Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
16  1.355429e+10         199494          3028604                   53.54
17  9.243999e+09         160500          1800381                   46.77
18  1.753714e+10         257511          3924279                   53.39
19  1.232985e+10         185464          2824434                   54.89
20  2.428730e+10         274442          5961590                   60.30

In [ ]:
# accessing the column Last price
df['Last Price']

0     2407.65
1     2441.00
2     2427.30
3     2399.60
4     2389.75
       ...
16    2393.15
17    2422.20
18    2362.00
19    2401.50
20    2487.50
Name: Last Price, Length: 21, dtype: float64

In [ ]:
# accessing the columns 'low price' and 'high price'
print(df[['Low Price','High Price']])

    Low Price  High Price
0     2395.95     2433.00
1     2410.00     2454.90
2     2420.15     2456.40
3     2384.60     2437.50
4     2347.15     2395.90
..        ...         ...
16    2376.05     2411.00
17    2374.00     2424.40
18    2340.85     2427.95
19    2377.10     2407.90
20    2415.10     2497.40

[21 rows x 2 columns]

In [ ]:
# all column names
df.columns

Index(['Symbol', 'Series', 'Date', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty'],
      dtype='object')

In [ ]:
# accessing first column with number
df.iloc[1]

Symbol                          RELIANCE
Series                                EQ
Date                         17-Feb-2022
Prev Close                       2412.95
Open Price                        2420.1
High Price                        2454.9
Low Price                         2410.0
Last Price                        2441.0
Close Price                       2443.5
Average Price                    2439.61
Total Traded Quantity            5931774
Turnover                  14471212589.25
No. of Trades                     211881
Deliverable Qty                  2872619
% Dly Qt to Traded Qty             48.43
Name: 1, dtype: object

In [ ]:
# accesing first 2 rows
print(df.iloc[[1,2]])

     Symbol Series         Date  Prev Close  Open Price  High Price  \
1  RELIANCE     EQ  17-Feb-2022     2412.95      2420.1      2454.9
2  RELIANCE     EQ  18-Feb-2022     2443.50      2444.4      2456.4

   Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
1    2410.00      2441.0       2443.5        2439.61                5931774
2    2420.15      2427.3       2424.4        2440.25                3126873

       Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
1  1.447121e+10         211881          2872619                   48.43
2  7.630367e+09         158691          1216161                   38.89

In [ ]:
# accessing columns with names
# opening prices of reliance of 10 days
# remember when slicing no brackets
print(df.loc[0:10,['Date','Open Price']])

           Date  Open Price
0   16-Feb-2022     2430.00
1   17-Feb-2022     2420.10
2   18-Feb-2022     2444.40
3   21-Feb-2022     2412.00
4   22-Feb-2022     2352.90
5   23-Feb-2022     2401.10
6   24-Feb-2022     2305.00
7   25-Feb-2022     2280.10
8   28-Feb-2022     2243.00
9   02-Mar-2022     2334.45
10  03-Mar-2022     2400.00

In [ ]:
df.loc[[0,1],'Average Price']

0    2417.77
1    2439.61
Name: Average Price, dtype: float64

In [ ]:
# obtaining five rows of columns from 'Date' to 'Aerage Price'
print(df.loc[0:4,'Date':'Average Price'])

          Date  Prev Close  Open Price  High Price  Low Price  Last Price  \
0  16-Feb-2022     2417.95      2430.0      2433.0    2395.95     2407.65
1  17-Feb-2022     2412.95      2420.1      2454.9    2410.00     2441.00
2  18-Feb-2022     2443.50      2444.4      2456.4    2420.15     2427.30
3  21-Feb-2022     2424.40      2412.0      2437.5    2384.60     2399.60
4  22-Feb-2022     2399.90      2352.9      2395.9    2347.15     2389.75

   Close Price  Average Price
0      2412.95        2417.77
1      2443.50        2439.61
2      2424.40        2440.25
3      2399.90        2409.12
4      2389.00        2372.16

### INDEXES

In [ ]:
# setting Date as INDEX
df.set_index("Date",inplace = True)
# remember using inplace is to make the changes permenant

In [ ]:
print(df)

               Symbol Series  Prev Close  Open Price  High Price  Low Price  \
Date
16-Feb-2022  RELIANCE     EQ     2417.95     2430.00     2433.00    2395.95
17-Feb-2022  RELIANCE     EQ     2412.95     2420.10     2454.90    2410.00
18-Feb-2022  RELIANCE     EQ     2443.50     2444.40     2456.40    2420.15
21-Feb-2022  RELIANCE     EQ     2424.40     2412.00     2437.50    2384.60
22-Feb-2022  RELIANCE     EQ     2399.90     2352.90     2395.90    2347.15
...               ...    ...         ...         ...         ...        ...
11-Mar-2022  RELIANCE     EQ     2392.25     2376.05     2411.00    2376.05
14-Mar-2022  RELIANCE     EQ     2399.15     2386.90     2424.40    2374.00
15-Mar-2022  RELIANCE     EQ     2418.85     2427.95     2427.95    2340.85
16-Mar-2022  RELIANCE     EQ     2363.45     2382.00     2407.90    2377.10
17-Mar-2022  RELIANCE     EQ     2403.35     2432.75     2497.40    2415.10

             Last Price  Close Price  Average Price  Total Traded Quantity  \
Date
16-Feb-2022     2407.65      2412.95        2417.77                4796294
17-Feb-2022     2441.00      2443.50        2439.61                5931774
18-Feb-2022     2427.30      2424.40        2440.25                3126873
21-Feb-2022     2399.60      2399.90        2409.12                5125968
22-Feb-2022     2389.75      2389.00        2372.16                6227901
...                 ...          ...            ...                    ...
11-Mar-2022     2393.15      2399.15        2396.11                5656799
14-Mar-2022     2422.20      2418.85        2401.52                3849222
15-Mar-2022     2362.00      2363.45        2386.09                7349740
16-Mar-2022     2401.50      2403.35        2396.17                5145644
17-Mar-2022     2487.50      2481.70        2456.66                9886295

                 Turnover  No. of Trades  Deliverable Qty  \
Date
16-Feb-2022  1.159633e+10         190438          2607957
17-Feb-2022  1.447121e+10         211881          2872619
18-Feb-2022  7.630367e+09         158691          1216161
21-Feb-2022  1.234908e+10         226214          2888548
22-Feb-2022  1.477358e+10         197401          3920789
...                   ...            ...              ...
11-Mar-2022  1.355429e+10         199494          3028604
14-Mar-2022  9.243999e+09         160500          1800381
15-Mar-2022  1.753714e+10         257511          3924279
16-Mar-2022  1.232985e+10         185464          2824434
17-Mar-2022  2.428730e+10         274442          5961590

             % Dly Qt to Traded Qty
Date
16-Feb-2022                   54.37
17-Feb-2022                   48.43
18-Feb-2022                   38.89
21-Feb-2022                   56.35
22-Feb-2022                   62.96
...                             ...
11-Mar-2022                   53.54
14-Mar-2022                   46.77
15-Mar-2022                   53.39
16-Mar-2022                   54.89
17-Mar-2022                   60.30

[21 rows x 14 columns]

In [ ]:
# obtianing values of date '11-Mar-2022'
print(df.loc[['11-Mar-2022']])

               Symbol Series  Prev Close  Open Price  High Price  Low Price  \
Date
11-Mar-2022  RELIANCE     EQ     2392.25     2376.05      2411.0    2376.05

             Last Price  Close Price  Average Price  Total Traded Quantity  \
Date
11-Mar-2022     2393.15      2399.15        2396.11                5656799

                 Turnover  No. of Trades  Deliverable Qty  \
Date
11-Mar-2022  1.355429e+10         199494          3028604

             % Dly Qt to Traded Qty
Date
11-Mar-2022                   53.54

In [ ]:
# resetting it back to default
df.reset_index(inplace = True)
print(df)

           Date    Symbol Series  Prev Close  Open Price  High Price  \
0   16-Feb-2022  RELIANCE     EQ     2417.95     2430.00     2433.00
1   17-Feb-2022  RELIANCE     EQ     2412.95     2420.10     2454.90
2   18-Feb-2022  RELIANCE     EQ     2443.50     2444.40     2456.40
3   21-Feb-2022  RELIANCE     EQ     2424.40     2412.00     2437.50
4   22-Feb-2022  RELIANCE     EQ     2399.90     2352.90     2395.90
..          ...       ...    ...         ...         ...         ...
16  11-Mar-2022  RELIANCE     EQ     2392.25     2376.05     2411.00
17  14-Mar-2022  RELIANCE     EQ     2399.15     2386.90     2424.40
18  15-Mar-2022  RELIANCE     EQ     2418.85     2427.95     2427.95
19  16-Mar-2022  RELIANCE     EQ     2363.45     2382.00     2407.90
20  17-Mar-2022  RELIANCE     EQ     2403.35     2432.75     2497.40

    Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
0     2395.95     2407.65      2412.95        2417.77                4796294
1     2410.00     2441.00      2443.50        2439.61                5931774
2     2420.15     2427.30      2424.40        2440.25                3126873
3     2384.60     2399.60      2399.90        2409.12                5125968
4     2347.15     2389.75      2389.00        2372.16                6227901
..        ...         ...          ...            ...                    ...
16    2376.05     2393.15      2399.15        2396.11                5656799
17    2374.00     2422.20      2418.85        2401.52                3849222
18    2340.85     2362.00      2363.45        2386.09                7349740
19    2377.10     2401.50      2403.35        2396.17                5145644
20    2415.10     2487.50      2481.70        2456.66                9886295

        Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
0   1.159633e+10         190438          2607957                   54.37
1   1.447121e+10         211881          2872619                   48.43
2   7.630367e+09         158691          1216161                   38.89
3   1.234908e+10         226214          2888548                   56.35
4   1.477358e+10         197401          3920789                   62.96
..           ...            ...              ...                     ...
16  1.355429e+10         199494          3028604                   53.54
17  9.243999e+09         160500          1800381                   46.77
18  1.753714e+10         257511          3924279                   53.39
19  1.232985e+10         185464          2824434                   54.89
20  2.428730e+10         274442          5961590                   60.30

[21 rows x 15 columns]

In [ ]:
# list all index values
df.index

RangeIndex(start=0, stop=21, step=1)

In [ ]:
# we can also specify index column at csv file
print(pd.read_csv('16-02-2022-TO-17-03-2022RELIANCEALLN.csv',index_col = 'Date'))

               Symbol Series  Prev Close  Open Price  High Price  Low Price  \
Date
16-Feb-2022  RELIANCE     EQ     2417.95     2430.00     2433.00    2395.95
17-Feb-2022  RELIANCE     EQ     2412.95     2420.10     2454.90    2410.00
18-Feb-2022  RELIANCE     EQ     2443.50     2444.40     2456.40    2420.15
21-Feb-2022  RELIANCE     EQ     2424.40     2412.00     2437.50    2384.60
22-Feb-2022  RELIANCE     EQ     2399.90     2352.90     2395.90    2347.15
...               ...    ...         ...         ...         ...        ...
11-Mar-2022  RELIANCE     EQ     2392.25     2376.05     2411.00    2376.05
14-Mar-2022  RELIANCE     EQ     2399.15     2386.90     2424.40    2374.00
15-Mar-2022  RELIANCE     EQ     2418.85     2427.95     2427.95    2340.85
16-Mar-2022  RELIANCE     EQ     2363.45     2382.00     2407.90    2377.10
17-Mar-2022  RELIANCE     EQ     2403.35     2432.75     2497.40    2415.10

             Last Price  Close Price  Average Price  Total Traded Quantity  \
Date
16-Feb-2022     2407.65      2412.95        2417.77                4796294
17-Feb-2022     2441.00      2443.50        2439.61                5931774
18-Feb-2022     2427.30      2424.40        2440.25                3126873
21-Feb-2022     2399.60      2399.90        2409.12                5125968
22-Feb-2022     2389.75      2389.00        2372.16                6227901
...                 ...          ...            ...                    ...
11-Mar-2022     2393.15      2399.15        2396.11                5656799
14-Mar-2022     2422.20      2418.85        2401.52                3849222
15-Mar-2022     2362.00      2363.45        2386.09                7349740
16-Mar-2022     2401.50      2403.35        2396.17                5145644
17-Mar-2022     2487.50      2481.70        2456.66                9886295

                 Turnover  No. of Trades  Deliverable Qty  \
Date
16-Feb-2022  1.159633e+10         190438          2607957
17-Feb-2022  1.447121e+10         211881          2872619
18-Feb-2022  7.630367e+09         158691          1216161
21-Feb-2022  1.234908e+10         226214          2888548
22-Feb-2022  1.477358e+10         197401          3920789
...                   ...            ...              ...
11-Mar-2022  1.355429e+10         199494          3028604
14-Mar-2022  9.243999e+09         160500          1800381
15-Mar-2022  1.753714e+10         257511          3924279
16-Mar-2022  1.232985e+10         185464          2824434
17-Mar-2022  2.428730e+10         274442          5961590

             % Dly Qt to Traded Qty
Date
16-Feb-2022                   54.37
17-Feb-2022                   48.43
18-Feb-2022                   38.89
21-Feb-2022                   56.35
22-Feb-2022                   62.96
...                             ...
11-Mar-2022                   53.54
14-Mar-2022                   46.77
15-Mar-2022                   53.39
16-Mar-2022                   54.89
17-Mar-2022                   60.30

[21 rows x 14 columns]

### Filtering

In [ ]:
# get all the rows with opening price > closing price
filt = df['Open Price']>df['Close Price']
print(filt)

0      True
1     False
2      True
3      True
4     False
      ...
16    False
17    False
18     True
19    False
20    False
Length: 21, dtype: bool

In [ ]:
# get all the date with open price > close price
print(df[filt]['Date'])
# print(df[filt].loc[:,'Date'])

0     16-Feb-2022
2     18-Feb-2022
3     21-Feb-2022
5     23-Feb-2022
6     24-Feb-2022
10    03-Mar-2022
11    04-Mar-2022
12    07-Mar-2022
15    10-Mar-2022
18    15-Mar-2022
Name: Date, dtype: object

In [ ]:
# get all the date with 'Prev Close' < 'Open Price' and 'Close Price' > 'Open Price'
filt1 = (df['Prev Close']<df['Open Price']) & ( df['Close Price'] > df['Open Price'])
print(df[filt1])

           Date    Symbol Series  Prev Close  Open Price  High Price  \
1   17-Feb-2022  RELIANCE     EQ     2412.95     2420.10     2454.90
7   25-Feb-2022  RELIANCE     EQ     2255.75     2280.10     2307.95
14  09-Mar-2022  RELIANCE     EQ     2235.50     2236.00     2367.00
19  16-Mar-2022  RELIANCE     EQ     2363.45     2382.00     2407.90
20  17-Mar-2022  RELIANCE     EQ     2403.35     2432.75     2497.40

    Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
1     2410.00      2441.0      2443.50        2439.61                5931774
7     2276.25      2283.0      2283.95        2290.84                6724094
14    2234.15      2358.3      2354.10        2316.35                9421163
19    2377.10      2401.5      2403.35        2396.17                5145644
20    2415.10      2487.5      2481.70        2456.66                9886295

        Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
1   1.447121e+10         211881          2872619                   48.43
7   1.540384e+10         281047          3670287                   54.58
14  2.182271e+10         325395          4647153                   49.33
19  1.232985e+10         185464          2824434                   54.89
20  2.428730e+10         274442          5961590                   60.30

In [ ]:
# to get the direct opposit of this we can use ~
print(df[~filt1])

           Date    Symbol Series  Prev Close  Open Price  High Price  \
0   16-Feb-2022  RELIANCE     EQ     2417.95     2430.00     2433.00
2   18-Feb-2022  RELIANCE     EQ     2443.50     2444.40     2456.40
3   21-Feb-2022  RELIANCE     EQ     2424.40     2412.00     2437.50
4   22-Feb-2022  RELIANCE     EQ     2399.90     2352.90     2395.90
5   23-Feb-2022  RELIANCE     EQ     2389.00     2401.10     2406.55
..          ...       ...    ...         ...         ...         ...
13  08-Mar-2022  RELIANCE     EQ     2239.55     2211.50     2246.00
15  10-Mar-2022  RELIANCE     EQ     2354.10     2400.00     2405.00
16  11-Mar-2022  RELIANCE     EQ     2392.25     2376.05     2411.00
17  14-Mar-2022  RELIANCE     EQ     2399.15     2386.90     2424.40
18  15-Mar-2022  RELIANCE     EQ     2418.85     2427.95     2427.95

    Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
0     2395.95     2407.65      2412.95        2417.77                4796294
2     2420.15     2427.30      2424.40        2440.25                3126873
3     2384.60     2399.60      2399.90        2409.12                5125968
4     2347.15     2389.75      2389.00        2372.16                6227901
5     2368.00     2371.25      2374.05        2391.23                3373615
..        ...         ...          ...            ...                    ...
13    2180.00     2235.05      2235.50        2220.15                9825043
15    2360.00     2387.00      2392.25        2386.79                8297995
16    2376.05     2393.15      2399.15        2396.11                5656799
17    2374.00     2422.20      2418.85        2401.52                3849222
18    2340.85     2362.00      2363.45        2386.09                7349740

        Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
0   1.159633e+10         190438          2607957                   54.37
2   7.630367e+09         158691          1216161                   38.89
3   1.234908e+10         226214          2888548                   56.35
4   1.477358e+10         197401          3920789                   62.96
5   8.067102e+09         195350          1928054                   57.15
..           ...            ...              ...                     ...
13  2.181302e+10         428117          5602260                   57.02
15  1.980560e+10         278083          4102149                   49.44
16  1.355429e+10         199494          3028604                   53.54
17  9.243999e+09         160500          1800381                   46.77
18  1.753714e+10         257511          3924279                   53.39

[16 rows x 15 columns]

In [ ]:
# get columns only if the 'Deliverable Qty in the list'
DQL = [5602260 ,3924279 ,2888548 ]
filt2 = df["Deliverable Qty"].isin(DQL)
print(df[filt2])

           Date    Symbol Series  Prev Close  Open Price  High Price  \
3   21-Feb-2022  RELIANCE     EQ     2424.40     2412.00     2437.50
13  08-Mar-2022  RELIANCE     EQ     2239.55     2211.50     2246.00
18  15-Mar-2022  RELIANCE     EQ     2418.85     2427.95     2427.95

    Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
3     2384.60     2399.60      2399.90        2409.12                5125968
13    2180.00     2235.05      2235.50        2220.15                9825043
18    2340.85     2362.00      2363.45        2386.09                7349740

        Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
3   1.234908e+10         226214          2888548                   56.35
13  2.181302e+10         428117          5602260                   57.02
18  1.753714e+10         257511          3924279                   53.39

In [ ]:
# take the row if date contains 'F'
filt2 = df["Date"].str.contains('F')
print(df[filt2])

          Date    Symbol Series  Prev Close  Open Price  High Price  \
0  16-Feb-2022  RELIANCE     EQ     2417.95      2430.0     2433.00
1  17-Feb-2022  RELIANCE     EQ     2412.95      2420.1     2454.90
2  18-Feb-2022  RELIANCE     EQ     2443.50      2444.4     2456.40
3  21-Feb-2022  RELIANCE     EQ     2424.40      2412.0     2437.50
4  22-Feb-2022  RELIANCE     EQ     2399.90      2352.9     2395.90
5  23-Feb-2022  RELIANCE     EQ     2389.00      2401.1     2406.55
6  24-Feb-2022  RELIANCE     EQ     2374.05      2305.0     2339.90
7  25-Feb-2022  RELIANCE     EQ     2255.75      2280.1     2307.95
8  28-Feb-2022  RELIANCE     EQ     2283.95      2243.0     2367.35

   Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
0    2395.95     2407.65      2412.95        2417.77                4796294
1    2410.00     2441.00      2443.50        2439.61                5931774
2    2420.15     2427.30      2424.40        2440.25                3126873
3    2384.60     2399.60      2399.90        2409.12                5125968
4    2347.15     2389.75      2389.00        2372.16                6227901
5    2368.00     2371.25      2374.05        2391.23                3373615
6    2243.40     2250.00      2255.75        2291.15               11466725
7    2276.25     2283.00      2283.95        2290.84                6724094
8    2243.00     2355.00      2359.55        2328.64                9828768

       Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
0  1.159633e+10         190438          2607957                   54.37
1  1.447121e+10         211881          2872619                   48.43
2  7.630367e+09         158691          1216161                   38.89
3  1.234908e+10         226214          2888548                   56.35
4  1.477358e+10         197401          3920789                   62.96
5  8.067102e+09         195350          1928054                   57.15
6  2.627201e+10         493459          7266877                   63.37
7  1.540384e+10         281047          3670287                   54.58
8  2.288768e+10         240020          5321030                   54.14

 Remember if the values contains Nan while we applying $str.contains()$ method , it will return error. 
 
 We can tackle this situation by $str.contains('python',na = False)$

### Modifying Data Within DataFrames

In [ ]:
# get all the column names
df.columns

Index(['Date', 'Symbol', 'Series', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty'],
      dtype='object')

In [ ]:
# changing column names
df.columns = ['Dates','RELIANCE', 'Series', 'PC', 'OP', 'HP',
       'LP', 'Last Price', 'CP', 'AP',
       'TTQ', 'Turnover', 'No. of Trades', 'DQ',
       '% Dly Qt to Traded Qty']
print(df)

          Dates  RELIANCE Series       PC       OP       HP       LP  \
0   16-Feb-2022  RELIANCE     EQ  2417.95  2430.00  2433.00  2395.95
1   17-Feb-2022  RELIANCE     EQ  2412.95  2420.10  2454.90  2410.00
2   18-Feb-2022  RELIANCE     EQ  2443.50  2444.40  2456.40  2420.15
3   21-Feb-2022  RELIANCE     EQ  2424.40  2412.00  2437.50  2384.60
4   22-Feb-2022  RELIANCE     EQ  2399.90  2352.90  2395.90  2347.15
..          ...       ...    ...      ...      ...      ...      ...
16  11-Mar-2022  RELIANCE     EQ  2392.25  2376.05  2411.00  2376.05
17  14-Mar-2022  RELIANCE     EQ  2399.15  2386.90  2424.40  2374.00
18  15-Mar-2022  RELIANCE     EQ  2418.85  2427.95  2427.95  2340.85
19  16-Mar-2022  RELIANCE     EQ  2363.45  2382.00  2407.90  2377.10
20  17-Mar-2022  RELIANCE     EQ  2403.35  2432.75  2497.40  2415.10

    Last Price       CP       AP      TTQ      Turnover  No. of Trades  \
0      2407.65  2412.95  2417.77  4796294  1.159633e+10         190438
1      2441.00  2443.50  2439.61  5931774  1.447121e+10         211881
2      2427.30  2424.40  2440.25  3126873  7.630367e+09         158691
3      2399.60  2399.90  2409.12  5125968  1.234908e+10         226214
4      2389.75  2389.00  2372.16  6227901  1.477358e+10         197401
..         ...      ...      ...      ...           ...            ...
16     2393.15  2399.15  2396.11  5656799  1.355429e+10         199494
17     2422.20  2418.85  2401.52  3849222  9.243999e+09         160500
18     2362.00  2363.45  2386.09  7349740  1.753714e+10         257511
19     2401.50  2403.35  2396.17  5145644  1.232985e+10         185464
20     2487.50  2481.70  2456.66  9886295  2.428730e+10         274442

         DQ  % Dly Qt to Traded Qty
0   2607957                   54.37
1   2872619                   48.43
2   1216161                   38.89
3   2888548                   56.35
4   3920789                   62.96
..      ...                     ...
16  3028604                   53.54
17  1800381                   46.77
18  3924279                   53.39
19  2824434                   54.89
20  5961590                   60.30

[21 rows x 15 columns]

In [ ]:
# another way to change column names
# here we can change specific columns
print(df.rename(columns={'PC':'Prev Close','OP':'Open Price','HP':'High Price','LP':'Low Price','CP':'Current Price','AP':'Average Price','TTQ':'Total Traded Quantity'}))

          Dates  RELIANCE Series  Prev Close  Open Price  High Price  \
0   16-Feb-2022  RELIANCE     EQ     2417.95     2430.00     2433.00
1   17-Feb-2022  RELIANCE     EQ     2412.95     2420.10     2454.90
2   18-Feb-2022  RELIANCE     EQ     2443.50     2444.40     2456.40
3   21-Feb-2022  RELIANCE     EQ     2424.40     2412.00     2437.50
4   22-Feb-2022  RELIANCE     EQ     2399.90     2352.90     2395.90
..          ...       ...    ...         ...         ...         ...
16  11-Mar-2022  RELIANCE     EQ     2392.25     2376.05     2411.00
17  14-Mar-2022  RELIANCE     EQ     2399.15     2386.90     2424.40
18  15-Mar-2022  RELIANCE     EQ     2418.85     2427.95     2427.95
19  16-Mar-2022  RELIANCE     EQ     2363.45     2382.00     2407.90
20  17-Mar-2022  RELIANCE     EQ     2403.35     2432.75     2497.40

    Low Price  Last Price  Current Price  Average Price  \
0     2395.95     2407.65        2412.95        2417.77
1     2410.00     2441.00        2443.50        2439.61
2     2420.15     2427.30        2424.40        2440.25
3     2384.60     2399.60        2399.90        2409.12
4     2347.15     2389.75        2389.00        2372.16
..        ...         ...            ...            ...
16    2376.05     2393.15        2399.15        2396.11
17    2374.00     2422.20        2418.85        2401.52
18    2340.85     2362.00        2363.45        2386.09
19    2377.10     2401.50        2403.35        2396.17
20    2415.10     2487.50        2481.70        2456.66

    Total Traded Quantity      Turnover  No. of Trades       DQ  \
0                 4796294  1.159633e+10         190438  2607957
1                 5931774  1.447121e+10         211881  2872619
2                 3126873  7.630367e+09         158691  1216161
3                 5125968  1.234908e+10         226214  2888548
4                 6227901  1.477358e+10         197401  3920789
..                    ...           ...            ...      ...
16                5656799  1.355429e+10         199494  3028604
17                3849222  9.243999e+09         160500  1800381
18                7349740  1.753714e+10         257511  3924279
19                5145644  1.232985e+10         185464  2824434
20                9886295  2.428730e+10         274442  5961590

    % Dly Qt to Traded Qty
0                    54.37
1                    48.43
2                    38.89
3                    56.35
4                    62.96
..                     ...
16                   53.54
17                   46.77
18                   53.39
19                   54.89
20                   60.30

[21 rows x 15 columns]

In [ ]:
# changing the 1st row
df.loc[0] = df.loc[1]
# we can also give a complete list of values 
print(df)

          Dates  RELIANCE Series       PC       OP       HP       LP  \
0   17-Feb-2022  RELIANCE     EQ  2412.95  2420.10  2454.90  2410.00
1   17-Feb-2022  RELIANCE     EQ  2412.95  2420.10  2454.90  2410.00
2   18-Feb-2022  RELIANCE     EQ  2443.50  2444.40  2456.40  2420.15
3   21-Feb-2022  RELIANCE     EQ  2424.40  2412.00  2437.50  2384.60
4   22-Feb-2022  RELIANCE     EQ  2399.90  2352.90  2395.90  2347.15
..          ...       ...    ...      ...      ...      ...      ...
16  11-Mar-2022  RELIANCE     EQ  2392.25  2376.05  2411.00  2376.05
17  14-Mar-2022  RELIANCE     EQ  2399.15  2386.90  2424.40  2374.00
18  15-Mar-2022  RELIANCE     EQ  2418.85  2427.95  2427.95  2340.85
19  16-Mar-2022  RELIANCE     EQ  2363.45  2382.00  2407.90  2377.10
20  17-Mar-2022  RELIANCE     EQ  2403.35  2432.75  2497.40  2415.10

    Last Price       CP       AP      TTQ      Turnover  No. of Trades  \
0      2441.00  2443.50  2439.61  5931774  1.447121e+10         211881
1      2441.00  2443.50  2439.61  5931774  1.447121e+10         211881
2      2427.30  2424.40  2440.25  3126873  7.630367e+09         158691
3      2399.60  2399.90  2409.12  5125968  1.234908e+10         226214
4      2389.75  2389.00  2372.16  6227901  1.477358e+10         197401
..         ...      ...      ...      ...           ...            ...
16     2393.15  2399.15  2396.11  5656799  1.355429e+10         199494
17     2422.20  2418.85  2401.52  3849222  9.243999e+09         160500
18     2362.00  2363.45  2386.09  7349740  1.753714e+10         257511
19     2401.50  2403.35  2396.17  5145644  1.232985e+10         185464
20     2487.50  2481.70  2456.66  9886295  2.428730e+10         274442

         DQ  % Dly Qt to Traded Qty
0   2872619                   48.43
1   2872619                   48.43
2   1216161                   38.89
3   2888548                   56.35
4   3920789                   62.96
..      ...                     ...
16  3028604                   53.54
17  1800381                   46.77
18  3924279                   53.39
19  2824434                   54.89
20  5961590                   60.30

[21 rows x 15 columns]

In [ ]:
df.loc[[1],'RELIANCE'] = 'Tata'
print(df)

          Dates  RELIANCE Series       PC       OP       HP       LP  \
0   17-Feb-2022  RELIANCE     EQ  2412.95  2420.10  2454.90  2410.00
1   17-Feb-2022      Tata     EQ  2412.95  2420.10  2454.90  2410.00
2   18-Feb-2022  RELIANCE     EQ  2443.50  2444.40  2456.40  2420.15
3   21-Feb-2022  RELIANCE     EQ  2424.40  2412.00  2437.50  2384.60
4   22-Feb-2022  RELIANCE     EQ  2399.90  2352.90  2395.90  2347.15
..          ...       ...    ...      ...      ...      ...      ...
16  11-Mar-2022  RELIANCE     EQ  2392.25  2376.05  2411.00  2376.05
17  14-Mar-2022  RELIANCE     EQ  2399.15  2386.90  2424.40  2374.00
18  15-Mar-2022  RELIANCE     EQ  2418.85  2427.95  2427.95  2340.85
19  16-Mar-2022  RELIANCE     EQ  2363.45  2382.00  2407.90  2377.10
20  17-Mar-2022  RELIANCE     EQ  2403.35  2432.75  2497.40  2415.10

    Last Price       CP       AP      TTQ      Turnover  No. of Trades  \
0      2441.00  2443.50  2439.61  5931774  1.447121e+10         211881
1      2441.00  2443.50  2439.61  5931774  1.447121e+10         211881
2      2427.30  2424.40  2440.25  3126873  7.630367e+09         158691
3      2399.60  2399.90  2409.12  5125968  1.234908e+10         226214
4      2389.75  2389.00  2372.16  6227901  1.477358e+10         197401
..         ...      ...      ...      ...           ...            ...
16     2393.15  2399.15  2396.11  5656799  1.355429e+10         199494
17     2422.20  2418.85  2401.52  3849222  9.243999e+09         160500
18     2362.00  2363.45  2386.09  7349740  1.753714e+10         257511
19     2401.50  2403.35  2396.17  5145644  1.232985e+10         185464
20     2487.50  2481.70  2456.66  9886295  2.428730e+10         274442

         DQ  % Dly Qt to Traded Qty
0   2872619                   48.43
1   2872619                   48.43
2   1216161                   38.89
3   2888548                   56.35
4   3920789                   62.96
..      ...                     ...
16  3028604                   53.54
17  1800381                   46.77
18  3924279                   53.39
19  2824434                   54.89
20  5961590                   60.30

[21 rows x 15 columns]

In [ ]:
# we cannot assign values like this
#df[1]['RELIANCE'] = 'RELIANCE'

In [ ]:
# lets lowercase the column 'RELIANCE'
df['RELIANCE'].str.lower()

0     reliance
1         tata
2     reliance
3     reliance
4     reliance
        ...
16    reliance
17    reliance
18    reliance
19    reliance
20    reliance
Name: RELIANCE, Length: 21, dtype: object

In [ ]:
# we cannot apply a function over the method loc() like this
# it is not supposed to work
# we can use some other functions like apply , apply map, map , replace .
df.loc[:,'RELIANCE'].str.upper()

0     RELIANCE
1         TATA
2     RELIANCE
3     RELIANCE
4     RELIANCE
        ...
16    RELIANCE
17    RELIANCE
18    RELIANCE
19    RELIANCE
20    RELIANCE
Name: RELIANCE, Length: 21, dtype: object

In [ ]:
# apply
df.dropna(axis = 'index')
df.loc[:,'RELIANCE'].astype(str).apply(len)

0     8
1     4
2     8
3     8
4     8
     ..
16    8
17    8
18    8
19    8
20    8
Name: RELIANCE, Length: 21, dtype: int64

In [ ]:
# problem with apply
df.apply(len)
# it returned no. of rows in each column

Dates                     21
RELIANCE                  21
Series                    21
PC                        21
OP                        21
HP                        21
LP                        21
Last Price                21
CP                        21
AP                        21
TTQ                       21
Turnover                  21
No. of Trades             21
DQ                        21
% Dly Qt to Traded Qty    21
dtype: int64

In [ ]:
# applymap
print(df.astype(str).applymap(len))

    Dates  RELIANCE  Series  PC  OP  HP  LP  Last Price  CP  AP  TTQ  \
0      11         8       2   7   6   6   6           6   6   7    7
1      11         4       2   7   6   6   6           6   6   7    7
2      11         8       2   6   6   6   7           6   6   7    7
3      11         8       2   6   6   6   6           6   6   7    7
4      11         8       2   6   6   6   7           7   6   7    7
..    ...       ...     ...  ..  ..  ..  ..         ...  ..  ..  ...
16     11         8       2   7   7   6   7           7   7   7    7
17     11         8       2   7   6   6   6           6   7   7    7
18     11         8       2   7   7   7   7           6   7   7    7
19     11         8       2   7   6   6   6           6   7   7    7
20     11         8       2   7   7   6   6           6   6   7    7

    Turnover  No. of Trades  DQ  % Dly Qt to Traded Qty
0         14              6   7                       5
1         14              6   7                       5
2         13              6   7                       5
3         14              6   7                       5
4         13              6   7                       5
..       ...            ...  ..                     ...
16        13              6   7                       5
17        13              6   7                       5
18        14              6   7                       5
19        13              6   7                       5
20        13              6   7                       4

[21 rows x 15 columns]

In [ ]:
# map
# used to change some values
# the values that are not changed will be set to NaN
df['RELIANCE'].map({'RELIANCE':'TATA'})

0     TATA
1      NaN
2     TATA
3     TATA
4     TATA
      ...
16    TATA
17    TATA
18    TATA
19    TATA
20    TATA
Name: RELIANCE, Length: 21, dtype: object

In [ ]:
# replace
# Consider the scenario that i dont want to change the non assigned values , here we can use replace
df['RELIANCE'].replace({'RELIANCE':'TATA'})

0     TATA
1     Tata
2     TATA
3     TATA
4     TATA
      ...
16    TATA
17    TATA
18    TATA
19    TATA
20    TATA
Name: RELIANCE, Length: 21, dtype: object

### Add / Remove Rows and Columns

In [ ]:
# combine two columnns
df1['first']+df1['last']

0    ashitaskani
1       askinuke
2     huskyswart
3     messilenon
4         peleno
5    ronoldochri
6    kabibnurmog
dtype: object

In [ ]:
# creating a new column and storing the series first and last
df1['Full Name'] = df1['first'] + df1['last']
print(df1)

     first     last  age    Full Name
0     ashi  taskani   21  ashitaskani
1     aski     nuke   23     askinuke
2    husky    swart   50   huskyswart
3    messi    lenon   45   messilenon
4     pele       no   75       peleno
5  ronoldo     chri   47  ronoldochri
6    kabib   nurmog   35  kabibnurmog

In [ ]:
# lets remove first and last columns
df1.drop(columns=['first','last'])

   age    Full Name
0   21  ashitaskani
1   23     askinuke
2   50   huskyswart
3   45   messilenon
4   75       peleno
5   47  ronoldochri
6   35  kabibnurmog

In [ ]:
# lets add a new row 
print(df1.append({'age':34,'Full Name':'noname'},ignore_index= True))

     first     last  age    Full Name
0     ashi  taskani   21  ashitaskani
1     aski     nuke   23     askinuke
2    husky    swart   50   huskyswart
3    messi    lenon   45   messilenon
4     pele       no   75       peleno
5  ronoldo     chri   47  ronoldochri
6    kabib   nurmog   35  kabibnurmog
7      NaN      NaN   34       noname

In [ ]:
series1 = pd.Series({'lap1':12.5,'lap2':13,'lap3':11})
series2 = pd.Series({'lap1':13.6,'lap2':14.2,'lap3':15.2})
pd.concat([series1,series2])

lap1    12.5
lap2    13.0
lap3    11.0
lap1    13.6
lap2    14.2
lap3    15.2
dtype: float64

In [ ]:
# aligning them and providing column names
print(pd.concat([series1,series2],axis = 1,keys = ['christiano','messi']))

      christiano  messi
lap1        12.5   13.6
lap2        13.0   14.2
lap3        11.0   15.2

In [ ]:
# lets remove the row that contains values of tata
filt3 = df['RELIANCE'] =='RELIANCE'
#print(df[~filt3])
print(df.drop(index = df[~filt3].index))

          Dates  RELIANCE Series       PC       OP       HP       LP  \
0   17-Feb-2022  RELIANCE     EQ  2412.95  2420.10  2454.90  2410.00
2   18-Feb-2022  RELIANCE     EQ  2443.50  2444.40  2456.40  2420.15
3   21-Feb-2022  RELIANCE     EQ  2424.40  2412.00  2437.50  2384.60
4   22-Feb-2022  RELIANCE     EQ  2399.90  2352.90  2395.90  2347.15
5   23-Feb-2022  RELIANCE     EQ  2389.00  2401.10  2406.55  2368.00
..          ...       ...    ...      ...      ...      ...      ...
16  11-Mar-2022  RELIANCE     EQ  2392.25  2376.05  2411.00  2376.05
17  14-Mar-2022  RELIANCE     EQ  2399.15  2386.90  2424.40  2374.00
18  15-Mar-2022  RELIANCE     EQ  2418.85  2427.95  2427.95  2340.85
19  16-Mar-2022  RELIANCE     EQ  2363.45  2382.00  2407.90  2377.10
20  17-Mar-2022  RELIANCE     EQ  2403.35  2432.75  2497.40  2415.10

    Last Price       CP       AP      TTQ      Turnover  No. of Trades  \
0      2441.00  2443.50  2439.61  5931774  1.447121e+10         211881
2      2427.30  2424.40  2440.25  3126873  7.630367e+09         158691
3      2399.60  2399.90  2409.12  5125968  1.234908e+10         226214
4      2389.75  2389.00  2372.16  6227901  1.477358e+10         197401
5      2371.25  2374.05  2391.23  3373615  8.067102e+09         195350
..         ...      ...      ...      ...           ...            ...
16     2393.15  2399.15  2396.11  5656799  1.355429e+10         199494
17     2422.20  2418.85  2401.52  3849222  9.243999e+09         160500
18     2362.00  2363.45  2386.09  7349740  1.753714e+10         257511
19     2401.50  2403.35  2396.17  5145644  1.232985e+10         185464
20     2487.50  2481.70  2456.66  9886295  2.428730e+10         274442

         DQ  % Dly Qt to Traded Qty
0   2872619                   48.43
2   1216161                   38.89
3   2888548                   56.35
4   3920789                   62.96
5   1928054                   57.15
..      ...                     ...
16  3028604                   53.54
17  1800381                   46.77
18  3924279                   53.39
19  2824434                   54.89
20  5961590                   60.30

[20 rows x 15 columns]

### Sorting

In [ ]:
# lets try to sort the date column
pd.set_option('display.max_rows',21)
print(df['Dates'].sort_values(ascending = False))
# the reoson why it doesnt give the required value is the values are in string format not in datetime format

8     28-Feb-2022
7     25-Feb-2022
6     24-Feb-2022
5     23-Feb-2022
4     22-Feb-2022
3     21-Feb-2022
2     18-Feb-2022
20    17-Mar-2022
1     17-Feb-2022
0     17-Feb-2022
19    16-Mar-2022
18    15-Mar-2022
17    14-Mar-2022
16    11-Mar-2022
15    10-Mar-2022
14    09-Mar-2022
13    08-Mar-2022
12    07-Mar-2022
11    04-Mar-2022
10    03-Mar-2022
9     02-Mar-2022
Name: Dates, dtype: object

In [ ]:
# we can also call the sort_values like this
print(df.sort_values(by='Dates'))
# the difference is quite visible

          Dates  RELIANCE Series       PC       OP       HP       LP  \
9   02-Mar-2022  RELIANCE     EQ  2359.55  2334.45  2401.00  2329.20
10  03-Mar-2022  RELIANCE     EQ  2398.55  2400.00  2414.85  2370.05
11  04-Mar-2022  RELIANCE     EQ  2378.30  2353.00  2364.30  2320.35
12  07-Mar-2022  RELIANCE     EQ  2325.55  2278.70  2312.10  2222.00
13  08-Mar-2022  RELIANCE     EQ  2239.55  2211.50  2246.00  2180.00
14  09-Mar-2022  RELIANCE     EQ  2235.50  2236.00  2367.00  2234.15
15  10-Mar-2022  RELIANCE     EQ  2354.10  2400.00  2405.00  2360.00
16  11-Mar-2022  RELIANCE     EQ  2392.25  2376.05  2411.00  2376.05
17  14-Mar-2022  RELIANCE     EQ  2399.15  2386.90  2424.40  2374.00
18  15-Mar-2022  RELIANCE     EQ  2418.85  2427.95  2427.95  2340.85
19  16-Mar-2022  RELIANCE     EQ  2363.45  2382.00  2407.90  2377.10
0   17-Feb-2022  RELIANCE     EQ  2412.95  2420.10  2454.90  2410.00
1   17-Feb-2022      Tata     EQ  2412.95  2420.10  2454.90  2410.00
20  17-Mar-2022  RELIANCE     EQ  2403.35  2432.75  2497.40  2415.10
2   18-Feb-2022  RELIANCE     EQ  2443.50  2444.40  2456.40  2420.15
3   21-Feb-2022  RELIANCE     EQ  2424.40  2412.00  2437.50  2384.60
4   22-Feb-2022  RELIANCE     EQ  2399.90  2352.90  2395.90  2347.15
5   23-Feb-2022  RELIANCE     EQ  2389.00  2401.10  2406.55  2368.00
6   24-Feb-2022  RELIANCE     EQ  2374.05  2305.00  2339.90  2243.40
7   25-Feb-2022  RELIANCE     EQ  2255.75  2280.10  2307.95  2276.25
8   28-Feb-2022  RELIANCE     EQ  2283.95  2243.00  2367.35  2243.00

    Last Price       CP       AP       TTQ      Turnover  No. of Trades  \
9      2399.25  2398.55  2376.69   9909226  2.355116e+10         309328
10     2382.00  2378.30  2392.27   4701183  1.124648e+10         230143
11     2327.95  2325.55  2338.20   4986814  1.166015e+10         219860
12     2240.05  2239.55  2256.84   8299295  1.873017e+10         372828
13     2235.05  2235.50  2220.15   9825043  2.181302e+10         428117
14     2358.30  2354.10  2316.35   9421163  2.182271e+10         325395
15     2387.00  2392.25  2386.79   8297995  1.980560e+10         278083
16     2393.15  2399.15  2396.11   5656799  1.355429e+10         199494
17     2422.20  2418.85  2401.52   3849222  9.243999e+09         160500
18     2362.00  2363.45  2386.09   7349740  1.753714e+10         257511
19     2401.50  2403.35  2396.17   5145644  1.232985e+10         185464
0      2441.00  2443.50  2439.61   5931774  1.447121e+10         211881
1      2441.00  2443.50  2439.61   5931774  1.447121e+10         211881
20     2487.50  2481.70  2456.66   9886295  2.428730e+10         274442
2      2427.30  2424.40  2440.25   3126873  7.630367e+09         158691
3      2399.60  2399.90  2409.12   5125968  1.234908e+10         226214
4      2389.75  2389.00  2372.16   6227901  1.477358e+10         197401
5      2371.25  2374.05  2391.23   3373615  8.067102e+09         195350
6      2250.00  2255.75  2291.15  11466725  2.627201e+10         493459
7      2283.00  2283.95  2290.84   6724094  1.540384e+10         281047
8      2355.00  2359.55  2328.64   9828768  2.288768e+10         240020

         DQ  % Dly Qt to Traded Qty
9   6277829                   63.35
10  2479449                   52.74
11  2754095                   55.23
12  4962748                   59.80
13  5602260                   57.02
14  4647153                   49.33
15  4102149                   49.44
16  3028604                   53.54
17  1800381                   46.77
18  3924279                   53.39
19  2824434                   54.89
0   2872619                   48.43
1   2872619                   48.43
20  5961590                   60.30
2   1216161                   38.89
3   2888548                   56.35
4   3920789                   62.96
5   1928054                   57.15
6   7266877                   63.37
7   3670287                   54.58
8   5321030                   54.14

In [ ]:
# sorting both dates and lastprice in ascending order and descending order respectively.
print(df.sort_values(by=['Dates','Last Price'],ascending=[True,False]))

          Dates  RELIANCE Series       PC       OP       HP       LP  \
9   02-Mar-2022  RELIANCE     EQ  2359.55  2334.45  2401.00  2329.20
10  03-Mar-2022  RELIANCE     EQ  2398.55  2400.00  2414.85  2370.05
11  04-Mar-2022  RELIANCE     EQ  2378.30  2353.00  2364.30  2320.35
12  07-Mar-2022  RELIANCE     EQ  2325.55  2278.70  2312.10  2222.00
13  08-Mar-2022  RELIANCE     EQ  2239.55  2211.50  2246.00  2180.00
14  09-Mar-2022  RELIANCE     EQ  2235.50  2236.00  2367.00  2234.15
15  10-Mar-2022  RELIANCE     EQ  2354.10  2400.00  2405.00  2360.00
16  11-Mar-2022  RELIANCE     EQ  2392.25  2376.05  2411.00  2376.05
17  14-Mar-2022  RELIANCE     EQ  2399.15  2386.90  2424.40  2374.00
18  15-Mar-2022  RELIANCE     EQ  2418.85  2427.95  2427.95  2340.85
19  16-Mar-2022  RELIANCE     EQ  2363.45  2382.00  2407.90  2377.10
0   17-Feb-2022  RELIANCE     EQ  2412.95  2420.10  2454.90  2410.00
1   17-Feb-2022      Tata     EQ  2412.95  2420.10  2454.90  2410.00
20  17-Mar-2022  RELIANCE     EQ  2403.35  2432.75  2497.40  2415.10
2   18-Feb-2022  RELIANCE     EQ  2443.50  2444.40  2456.40  2420.15
3   21-Feb-2022  RELIANCE     EQ  2424.40  2412.00  2437.50  2384.60
4   22-Feb-2022  RELIANCE     EQ  2399.90  2352.90  2395.90  2347.15
5   23-Feb-2022  RELIANCE     EQ  2389.00  2401.10  2406.55  2368.00
6   24-Feb-2022  RELIANCE     EQ  2374.05  2305.00  2339.90  2243.40
7   25-Feb-2022  RELIANCE     EQ  2255.75  2280.10  2307.95  2276.25
8   28-Feb-2022  RELIANCE     EQ  2283.95  2243.00  2367.35  2243.00

    Last Price       CP       AP       TTQ      Turnover  No. of Trades  \
9      2399.25  2398.55  2376.69   9909226  2.355116e+10         309328
10     2382.00  2378.30  2392.27   4701183  1.124648e+10         230143
11     2327.95  2325.55  2338.20   4986814  1.166015e+10         219860
12     2240.05  2239.55  2256.84   8299295  1.873017e+10         372828
13     2235.05  2235.50  2220.15   9825043  2.181302e+10         428117
14     2358.30  2354.10  2316.35   9421163  2.182271e+10         325395
15     2387.00  2392.25  2386.79   8297995  1.980560e+10         278083
16     2393.15  2399.15  2396.11   5656799  1.355429e+10         199494
17     2422.20  2418.85  2401.52   3849222  9.243999e+09         160500
18     2362.00  2363.45  2386.09   7349740  1.753714e+10         257511
19     2401.50  2403.35  2396.17   5145644  1.232985e+10         185464
0      2441.00  2443.50  2439.61   5931774  1.447121e+10         211881
1      2441.00  2443.50  2439.61   5931774  1.447121e+10         211881
20     2487.50  2481.70  2456.66   9886295  2.428730e+10         274442
2      2427.30  2424.40  2440.25   3126873  7.630367e+09         158691
3      2399.60  2399.90  2409.12   5125968  1.234908e+10         226214
4      2389.75  2389.00  2372.16   6227901  1.477358e+10         197401
5      2371.25  2374.05  2391.23   3373615  8.067102e+09         195350
6      2250.00  2255.75  2291.15  11466725  2.627201e+10         493459
7      2283.00  2283.95  2290.84   6724094  1.540384e+10         281047
8      2355.00  2359.55  2328.64   9828768  2.288768e+10         240020

         DQ  % Dly Qt to Traded Qty
9   6277829                   63.35
10  2479449                   52.74
11  2754095                   55.23
12  4962748                   59.80
13  5602260                   57.02
14  4647153                   49.33
15  4102149                   49.44
16  3028604                   53.54
17  1800381                   46.77
18  3924279                   53.39
19  2824434                   54.89
0   2872619                   48.43
1   2872619                   48.43
20  5961590                   60.30
2   1216161                   38.89
3   2888548                   56.35
4   3920789                   62.96
5   1928054                   57.15
6   7266877                   63.37
7   3670287                   54.58
8   5321030                   54.14

In [ ]:
# to get nlargerst numbers
df['Last Price'].nlargest(10)

20    2487.50
0     2441.00
1     2441.00
2     2427.30
17    2422.20
19    2401.50
3     2399.60
9     2399.25
16    2393.15
4     2389.75
Name: Last Price, dtype: float64

In [ ]:
# n smallest numbers
df['Last Price'].nsmallest(10)

13    2235.05
12    2240.05
6     2250.00
7     2283.00
11    2327.95
8     2355.00
14    2358.30
18    2362.00
5     2371.25
10    2382.00
Name: Last Price, dtype: float64

### Analyzing & Exploring Data

In [ ]:
# lets do some statics
mean = df['CP'].mean()
median = df['CP'].median()
stat = {'Mean of Close Price':mean,'Median of Close Price':median}
print(stat)

{'Mean of Close Price': 2369.709523809523, 'Median of Close Price': 2389.0}

In [ ]:
# we can get a bunch of stats by using the method describe
df['CP'].describe()

count      21.000000
mean     2369.709524
std        67.521681
min      2235.500000
25%      2354.100000
50%      2389.000000
75%      2403.350000
max      2481.700000
Name: CP, dtype: float64

In [ ]:
# reading the Stack Overflow data
df2 = pd.read_csv('stack-overflow-developer-survey-2021\\survey_results_public.csv')
print(df2)

       ResponseId                                         MainBranch  \
0               1                     I am a developer by profession
1               2             I am a student who is learning to code
2               3  I am not primarily a developer, but I write co...
3               4                     I am a developer by profession
4               5                     I am a developer by profession
...           ...                                                ...
83434       83435                     I am a developer by profession
83435       83436                     I am a developer by profession
83436       83437                     I am a developer by profession
83437       83438                     I am a developer by profession
83438       83439                     I am a developer by profession

                                              Employment  \
0      Independent contractor, freelancer, or self-em...
1                                     Student, full-time
2                                     Student, full-time
3                                     Employed full-time
4      Independent contractor, freelancer, or self-em...
...                                                  ...
83434                                 Employed full-time
83435  Independent contractor, freelancer, or self-em...
83436                                 Employed full-time
83437                                 Employed full-time
83438                                 Employed full-time

                                                 Country    US_State  \
0                                               Slovakia         NaN
1                                            Netherlands         NaN
2                                     Russian Federation         NaN
3                                                Austria         NaN
4      United Kingdom of Great Britain and Northern I...         NaN
...                                                  ...         ...
83434                           United States of America       Texas
83435                                              Benin         NaN
83436                           United States of America  New Jersey
83437                                             Canada         NaN
83438                                             Brazil         NaN

      UK_Country                                            EdLevel  \
0            NaN  Secondary school (e.g. American high school, G...
1            NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2            NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
3            NaN    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
4        England    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
...          ...                                                ...
83434        NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83435        NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83436        NaN  Secondary school (e.g. American high school, G...
83437        NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83438        NaN                 Professional degree (JD, MD, etc.)

          Age1stCode                                          LearnCode  \
0      18 - 24 years  Coding Bootcamp;Other online resources (ex: vi...
1      11 - 17 years  Other online resources (ex: videos, blogs, etc...
2      11 - 17 years  Other online resources (ex: videos, blogs, etc...
3      11 - 17 years                                                NaN
4       5 - 10 years                            Friend or family member
...              ...                                                ...
83434  11 - 17 years  Other online resources (ex: videos, blogs, etc...
83435  11 - 17 years  Other online resources (ex: videos, blogs, etc...
83436  11 - 17 years                                             School
83437  11 - 17 years  Online Courses or Certification;Books / Physic...
83438  11 - 17 years                                             School

      YearsCode  ...              Age Gender Trans                Sexuality  \
0           NaN  ...  25-34 years old    Man    No  Straight / Heterosexual
1             7  ...  18-24 years old    Man    No  Straight / Heterosexual
2           NaN  ...  18-24 years old    Man    No        Prefer not to say
3           NaN  ...  35-44 years old    Man    No  Straight / Heterosexual
4            17  ...  25-34 years old    Man    No                      NaN
...         ...  ...              ...    ...   ...                      ...
83434         6  ...  25-34 years old    Man    No  Straight / Heterosexual
83435         4  ...  18-24 years old    Man    No  Straight / Heterosexual
83436        10  ...  25-34 years old    Man    No                      NaN
83437         5  ...  25-34 years old    Man    No  Straight / Heterosexual
83438        14  ...  18-24 years old    Man    No  Straight / Heterosexual

                          Ethnicity                Accessibility  \
0      White or of European descent            None of the above
1      White or of European descent            None of the above
2                 Prefer not to say            None of the above
3      White or of European descent  I am deaf / hard of hearing
4      White or of European descent            None of the above
...                             ...                          ...
83434  White or of European descent            None of the above
83435   Black or of African descent            None of the above
83436  White or of European descent            None of the above
83437  White or of European descent            None of the above
83438        Hispanic or Latino/a/x            None of the above

                                            MentalHealth  \
0                                      None of the above
1                                      None of the above
2                                      None of the above
3                                                    NaN
4                                                    NaN
...                                                  ...
83434  I have a concentration and/or memory disorder ...
83435                                  None of the above
83436                                  None of the above
83437  I have a mood or emotional disorder (e.g. depr...
83438                                  None of the above

                SurveyLength                  SurveyEase ConvertedCompYearly
0      Appropriate in length                        Easy             62268.0
1      Appropriate in length                        Easy                 NaN
2      Appropriate in length                        Easy                 NaN
3      Appropriate in length  Neither easy nor difficult                 NaN
4      Appropriate in length                        Easy                 NaN
...                      ...                         ...                 ...
83434  Appropriate in length                        Easy            160500.0
83435  Appropriate in length                        Easy              3960.0
83436  Appropriate in length  Neither easy nor difficult             90000.0
83437  Appropriate in length  Neither easy nor difficult            816816.0
83438  Appropriate in length                        Easy             21168.0

[83439 rows x 48 columns]

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

### Groupby Operations

In [ ]:
country_grp = df2.groupby('Country')
print(country_grp.get_group('India'))

       ResponseId                              MainBranch          Employment  \
8               9          I am a developer by profession  Employed part-time
22             23  I am a student who is learning to code  Student, full-time
39             40  I am a student who is learning to code  Student, part-time
49             50  I am a student who is learning to code  Student, full-time
52             53          I am a developer by profession  Employed full-time
...           ...                                     ...                 ...
83399       83400          I am a developer by profession  Employed full-time
83406       83407  I am a student who is learning to code  Student, full-time
83410       83411  I am a student who is learning to code  Student, part-time
83411       83412          I am a developer by profession  Employed full-time
83417       83418          I am a developer by profession  Student, full-time

      Country US_State UK_Country  \
8       India      NaN        NaN
22      India      NaN        NaN
39      India      NaN        NaN
49      India      NaN        NaN
52      India      NaN        NaN
...       ...      ...        ...
83399   India      NaN        NaN
83406   India      NaN        NaN
83410   India      NaN        NaN
83411   India      NaN        NaN
83417   India      NaN        NaN

                                                 EdLevel     Age1stCode  \
8           Bachelor’s degree (B.A., B.S., B.Eng., etc.)  18 - 24 years
22     Some college/university study without earning ...   5 - 10 years
39          Bachelor’s degree (B.A., B.S., B.Eng., etc.)  11 - 17 years
49     Some college/university study without earning ...  11 - 17 years
52       Master’s degree (M.A., M.S., M.Eng., MBA, etc.)  11 - 17 years
...                                                  ...            ...
83399       Bachelor’s degree (B.A., B.S., B.Eng., etc.)  11 - 17 years
83406  Secondary school (e.g. American high school, G...  11 - 17 years
83410       Bachelor’s degree (B.A., B.S., B.Eng., etc.)  18 - 24 years
83411       Bachelor’s degree (B.A., B.S., B.Eng., etc.)  11 - 17 years
83417       Bachelor’s degree (B.A., B.S., B.Eng., etc.)  11 - 17 years

                                               LearnCode YearsCode  ...  \
8                                        Coding Bootcamp         6  ...
22                        School;Friend or family member         7  ...
39                                                School         3  ...
49     Coding Bootcamp;Other online resources (ex: vi...       NaN  ...
52     Other online resources (ex: videos, blogs, etc...         5  ...
...                                                  ...       ...  ...
83399  Other online resources (ex: videos, blogs, etc...         7  ...
83406  Other online resources (ex: videos, blogs, etc...         2  ...
83410    Other online resources (ex: videos, blogs, etc)         1  ...
83411  Other online resources (ex: videos, blogs, etc...         8  ...
83417  School;Friend or family member;Online Courses ...         3  ...

                      Age Gender Trans                Sexuality  \
8         25-34 years old    Man    No                      NaN
22     Under 18 years old    Man    No        Prefer not to say
39        18-24 years old  Woman    No  Straight / Heterosexual
49        18-24 years old    Man    No  Straight / Heterosexual
52        25-34 years old    Man    No        Prefer not to say
...                   ...    ...   ...                      ...
83399     25-34 years old    Man    No  Straight / Heterosexual
83406     18-24 years old    Man    No  Straight / Heterosexual
83410     18-24 years old    Man    No  Straight / Heterosexual
83411     25-34 years old    Man    No  Straight / Heterosexual
83417     18-24 years old    Man    No                      NaN

                          Ethnicity      Accessibility  \
8                       South Asian                NaN
22                Prefer not to say  None of the above
39     White or of European descent  None of the above
49                      South Asian  None of the above
52                     I don't know  None of the above
...                             ...                ...
83399                   South Asian  None of the above
83406                   South Asian  None of the above
83410                  I don't know  None of the above
83411                   South Asian  None of the above
83417                   South Asian                NaN

                                            MentalHealth  \
8      I have a concentration and/or memory disorder ...
22                                     None of the above
39     I have a concentration and/or memory disorder ...
49                                     None of the above
52                                     None of the above
...                                                  ...
83399                                  None of the above
83406                                  None of the above
83410                                  None of the above
83411                                  None of the above
83417                                                NaN

                SurveyLength                  SurveyEase ConvertedCompYearly
8      Appropriate in length                        Easy                 NaN
22     Appropriate in length                        Easy                 NaN
39     Appropriate in length                        Easy                 NaN
49     Appropriate in length                        Easy                 NaN
52                  Too long  Neither easy nor difficult                 NaN
...                      ...                         ...                 ...
83399              Too short                        Easy             27923.0
83406  Appropriate in length                        Easy                 NaN
83410  Appropriate in length  Neither easy nor difficult                 NaN
83411  Appropriate in length                        Easy             48866.0
83417  Appropriate in length  Neither easy nor difficult                 NaN

[10511 rows x 48 columns]

In [ ]:
# same result can be achieved by using filters
filt4 = df2['Country']=='India'
print(df2[filt4])

       ResponseId                              MainBranch          Employment  \
8               9          I am a developer by profession  Employed part-time
22             23  I am a student who is learning to code  Student, full-time
39             40  I am a student who is learning to code  Student, part-time
49             50  I am a student who is learning to code  Student, full-time
52             53          I am a developer by profession  Employed full-time
...           ...                                     ...                 ...
83399       83400          I am a developer by profession  Employed full-time
83406       83407  I am a student who is learning to code  Student, full-time
83410       83411  I am a student who is learning to code  Student, part-time
83411       83412          I am a developer by profession  Employed full-time
83417       83418          I am a developer by profession  Student, full-time

      Country US_State UK_Country  \
8       India      NaN        NaN
22      India      NaN        NaN
39      India      NaN        NaN
49      India      NaN        NaN
52      India      NaN        NaN
...       ...      ...        ...
83399   India      NaN        NaN
83406   India      NaN        NaN
83410   India      NaN        NaN
83411   India      NaN        NaN
83417   India      NaN        NaN

                                                 EdLevel     Age1stCode  \
8           Bachelor’s degree (B.A., B.S., B.Eng., etc.)  18 - 24 years
22     Some college/university study without earning ...   5 - 10 years
39          Bachelor’s degree (B.A., B.S., B.Eng., etc.)  11 - 17 years
49     Some college/university study without earning ...  11 - 17 years
52       Master’s degree (M.A., M.S., M.Eng., MBA, etc.)  11 - 17 years
...                                                  ...            ...
83399       Bachelor’s degree (B.A., B.S., B.Eng., etc.)  11 - 17 years
83406  Secondary school (e.g. American high school, G...  11 - 17 years
83410       Bachelor’s degree (B.A., B.S., B.Eng., etc.)  18 - 24 years
83411       Bachelor’s degree (B.A., B.S., B.Eng., etc.)  11 - 17 years
83417       Bachelor’s degree (B.A., B.S., B.Eng., etc.)  11 - 17 years

                                               LearnCode YearsCode  ...  \
8                                        Coding Bootcamp         6  ...
22                        School;Friend or family member         7  ...
39                                                School         3  ...
49     Coding Bootcamp;Other online resources (ex: vi...       NaN  ...
52     Other online resources (ex: videos, blogs, etc...         5  ...
...                                                  ...       ...  ...
83399  Other online resources (ex: videos, blogs, etc...         7  ...
83406  Other online resources (ex: videos, blogs, etc...         2  ...
83410    Other online resources (ex: videos, blogs, etc)         1  ...
83411  Other online resources (ex: videos, blogs, etc...         8  ...
83417  School;Friend or family member;Online Courses ...         3  ...

                      Age Gender Trans                Sexuality  \
8         25-34 years old    Man    No                      NaN
22     Under 18 years old    Man    No        Prefer not to say
39        18-24 years old  Woman    No  Straight / Heterosexual
49        18-24 years old    Man    No  Straight / Heterosexual
52        25-34 years old    Man    No        Prefer not to say
...                   ...    ...   ...                      ...
83399     25-34 years old    Man    No  Straight / Heterosexual
83406     18-24 years old    Man    No  Straight / Heterosexual
83410     18-24 years old    Man    No  Straight / Heterosexual
83411     25-34 years old    Man    No  Straight / Heterosexual
83417     18-24 years old    Man    No                      NaN

                          Ethnicity      Accessibility  \
8                       South Asian                NaN
22                Prefer not to say  None of the above
39     White or of European descent  None of the above
49                      South Asian  None of the above
52                     I don't know  None of the above
...                             ...                ...
83399                   South Asian  None of the above
83406                   South Asian  None of the above
83410                  I don't know  None of the above
83411                   South Asian  None of the above
83417                   South Asian                NaN

                                            MentalHealth  \
8      I have a concentration and/or memory disorder ...
22                                     None of the above
39     I have a concentration and/or memory disorder ...
49                                     None of the above
52                                     None of the above
...                                                  ...
83399                                  None of the above
83406                                  None of the above
83410                                  None of the above
83411                                  None of the above
83417                                                NaN

                SurveyLength                  SurveyEase ConvertedCompYearly
8      Appropriate in length                        Easy                 NaN
22     Appropriate in length                        Easy                 NaN
39     Appropriate in length                        Easy                 NaN
49     Appropriate in length                        Easy                 NaN
52                  Too long  Neither easy nor difficult                 NaN
...                      ...                         ...                 ...
83399              Too short                        Easy             27923.0
83406  Appropriate in length                        Easy                 NaN
83410  Appropriate in length  Neither easy nor difficult                 NaN
83411  Appropriate in length                        Easy             48866.0
83417  Appropriate in length  Neither easy nor difficult                 NaN

[10511 rows x 48 columns]

In [ ]:
# no. of peoples in each countries
df2['Country'].value_counts()

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Saint Kitts and Nevis                                       1
Dominica                                                    1
Saint Vincent and the Grenadines                            1
Tuvalu                                                      1
Papua New Guinea                                            1
Name: Country, Length: 181, dtype: int64

In [ ]:
# lets get it in percerntage
df2['Country'].value_counts(normalize = True)

United States of America                                0.183224
India                                                   0.125972
Germany                                                 0.067415
United Kingdom of Great Britain and Northern Ireland    0.053632
Canada                                                  0.036098
                                                          ...
Saint Kitts and Nevis                                   0.000012
Dominica                                                0.000012
Saint Vincent and the Grenadines                        0.000012
Tuvalu                                                  0.000012
Papua New Guinea                                        0.000012
Name: Country, Length: 181, dtype: float64

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

In [ ]:
# obtaining males and females in each countries
country_grp['Gender'].value_counts()

Country      Gender
Afghanistan  Man                                                  36
             Non-binary, genderqueer, or gender non-conforming     5
             Or, in your own words:                                5
             Woman                                                 4
             Prefer not to say                                     3
                                                                  ..
Zambia       Man;Or, in your own words:                            1
             Prefer not to say                                     1
Zimbabwe     Man                                                  33
             Woman                                                 2
             Or, in your own words:                                1
Name: Gender, Length: 789, dtype: int64

In [ ]:
# Using multiple aggregate functions on the group
df2['ResponseId'].agg({'mean':'mean','median':'median'})

mean      41720.0
median    41720.0
Name: ResponseId, dtype: float64

In [ ]:
# checking how many peoples knows 'python' in 'India'
filt5 = (df2['Country']=="India") & (df2['LanguageHaveWorkedWith'].str.contains('Python',na = False))
print(df2[filt5])

       ResponseId                                         MainBranch  \
22             23             I am a student who is learning to code
39             40             I am a student who is learning to code
49             50             I am a student who is learning to code
52             53                     I am a developer by profession
59             60                     I am a developer by profession
...           ...                                                ...
83209       83210             I am a student who is learning to code
83263       83264  I am not primarily a developer, but I write co...
83291       83292                     I am a developer by profession
83406       83407             I am a student who is learning to code
83410       83411             I am a student who is learning to code

               Employment Country US_State UK_Country  \
22     Student, full-time   India      NaN        NaN
39     Student, part-time   India      NaN        NaN
49     Student, full-time   India      NaN        NaN
52     Employed full-time   India      NaN        NaN
59     Student, full-time   India      NaN        NaN
...                   ...     ...      ...        ...
83209  Student, full-time   India      NaN        NaN
83263  Employed full-time   India      NaN        NaN
83291  Employed full-time   India      NaN        NaN
83406  Student, full-time   India      NaN        NaN
83410  Student, part-time   India      NaN        NaN

                                                 EdLevel     Age1stCode  \
22     Some college/university study without earning ...   5 - 10 years
39          Bachelor’s degree (B.A., B.S., B.Eng., etc.)  11 - 17 years
49     Some college/university study without earning ...  11 - 17 years
52       Master’s degree (M.A., M.S., M.Eng., MBA, etc.)  11 - 17 years
59                                        Something else   5 - 10 years
...                                                  ...            ...
83209       Bachelor’s degree (B.A., B.S., B.Eng., etc.)  18 - 24 years
83263       Bachelor’s degree (B.A., B.S., B.Eng., etc.)  18 - 24 years
83291       Bachelor’s degree (B.A., B.S., B.Eng., etc.)  18 - 24 years
83406  Secondary school (e.g. American high school, G...  11 - 17 years
83410       Bachelor’s degree (B.A., B.S., B.Eng., etc.)  18 - 24 years

                                               LearnCode YearsCode  ...  \
22                        School;Friend or family member         7  ...
39                                                School         3  ...
49     Coding Bootcamp;Other online resources (ex: vi...       NaN  ...
52     Other online resources (ex: videos, blogs, etc...         5  ...
59       Other online resources (ex: videos, blogs, etc)         2  ...
...                                                  ...       ...  ...
83209  Other online resources (ex: videos, blogs, etc...         3  ...
83263                                             School         7  ...
83291  Coding Bootcamp;School;Online Forum;Friend or ...         5  ...
83406  Other online resources (ex: videos, blogs, etc...         2  ...
83410    Other online resources (ex: videos, blogs, etc)         1  ...

                      Age                                             Gender  \
22     Under 18 years old                                                Man
39        18-24 years old                                              Woman
49        18-24 years old                                                Man
52        25-34 years old                                                Man
59     Under 18 years old  Non-binary, genderqueer, or gender non-conforming
...                   ...                                                ...
83209     18-24 years old                                                Man
83263     25-34 years old                                              Woman
83291     18-24 years old                                                Man
83406     18-24 years old                                                Man
83410     18-24 years old                                                Man

      Trans                                          Sexuality  \
22       No                                  Prefer not to say
39       No                            Straight / Heterosexual
49       No                            Straight / Heterosexual
52       No                                  Prefer not to say
59      Yes  Straight / Heterosexual;Bisexual;Gay or Lesbia...
...     ...                                                ...
83209    No                            Straight / Heterosexual
83263    No                            Straight / Heterosexual
83291    No                            Straight / Heterosexual
83406    No                            Straight / Heterosexual
83410    No                            Straight / Heterosexual

                          Ethnicity  \
22                Prefer not to say
39     White or of European descent
49                      South Asian
52                     I don't know
59                       East Asian
...                             ...
83209               Southeast Asian
83263               Southeast Asian
83291                   South Asian
83406                   South Asian
83410                  I don't know

                                           Accessibility  \
22                                     None of the above
39                                     None of the above
49                                     None of the above
52                                     None of the above
59     I am deaf / hard of hearing;I am blind / have ...
...                                                  ...
83209                                  None of the above
83263                                  None of the above
83291                                  None of the above
83406                                  None of the above
83410                                  None of the above

                                            MentalHealth  \
22                                     None of the above
39     I have a concentration and/or memory disorder ...
49                                     None of the above
52                                     None of the above
59                                     None of the above
...                                                  ...
83209                                  None of the above
83263                                  None of the above
83291                                  None of the above
83406                                  None of the above
83410                                  None of the above

                SurveyLength                  SurveyEase ConvertedCompYearly
22     Appropriate in length                        Easy                 NaN
39     Appropriate in length                        Easy                 NaN
49     Appropriate in length                        Easy                 NaN
52                  Too long  Neither easy nor difficult                 NaN
59                 Too short                        Easy                 NaN
...                      ...                         ...                 ...
83209               Too long                   Difficult                 NaN
83263  Appropriate in length                        Easy                 NaN
83291               Too long                        Easy              5026.0
83406  Appropriate in length                        Easy                 NaN
83410  Appropriate in length  Neither easy nor difficult                 NaN

[5233 rows x 48 columns]

In [ ]:
# what percentage of people in each country knows python ?
pydev = country_grp['LanguageHaveWorkedWith'].apply(lambda x:x.str.contains('Python').sum())
users = country_grp['ResponseId'].sum()
prc_pydev = (pydev/users)*100
print(prc_pydev)

Country
Afghanistan                             0.000684
Albania                                 0.000886
Algeria                                 0.000959
Andorra                                 0.000780
Angola                                  0.000439
                                          ...
Venezuela, Bolivarian Republic of...    0.000948
Viet Nam                                0.001056
Yemen                                   0.000714
Zambia                                  0.001418
Zimbabwe                                0.000916
Length: 181, dtype: float64

### Cleaning Data

In [ ]:
# remove all the rows with values Nan
df2.dropna(axis =0)

Empty DataFrame
Columns: [ResponseId, MainBranch, Employment, Country, US_State, UK_Country, EdLevel, Age1stCode, LearnCode, YearsCode, YearsCodePro, DevType, OrgSize, Currency, CompTotal, CompFreq, LanguageHaveWorkedWith, LanguageWantToWorkWith, DatabaseHaveWorkedWith, DatabaseWantToWorkWith, PlatformHaveWorkedWith, PlatformWantToWorkWith, WebframeHaveWorkedWith, WebframeWantToWorkWith, MiscTechHaveWorkedWith, MiscTechWantToWorkWith, ToolsTechHaveWorkedWith, ToolsTechWantToWorkWith, NEWCollabToolsHaveWorkedWith, NEWCollabToolsWantToWorkWith, OpSys, NEWStuck, NEWSOSites, SOVisitFreq, SOAccount, SOPartFreq, SOComm, NEWOtherComms, Age, Gender, Trans, Sexuality, Ethnicity, Accessibility, MentalHealth, SurveyLength, SurveyEase, ConvertedCompYearly]
Index: []

[0 rows x 48 columns]

In [ ]:
# removing all the columns with values Nan
df2.dropna(axis=1)

,ResponseId,MainBranch,Country
0,1,I am a developer by profession,Slovakia
1,2,I am a student who is learning to code,Netherlands
2,3,"I am not primarily a developer, but I write co...",Russian Federation
3,4,I am a developer by profession,Austria
4,5,I am a developer by profession,United Kingdom of Great Britain and Northern I...
...,...,...,...
83434,83435,I am a developer by profession,United States of America
83435,83436,I am a developer by profession,Benin
83436,83437,I am a developer by profession,United States of America
83437,83438,I am a developer by profession,Canada
83438,83439,I am a developer by profession,Brazil

In [ ]:
# remove the columns with all Nan
df2.dropna(axis=1,how = 'all')

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [ ]:
# if there is any customised missing values we have to replace it with np.nan
df2.replace('missing',np.nan)
df2.dropna(axis=1,how = 'any')

,ResponseId,MainBranch,Country
0,1,I am a developer by profession,Slovakia
1,2,I am a student who is learning to code,Netherlands
2,3,"I am not primarily a developer, but I write co...",Russian Federation
3,4,I am a developer by profession,Austria
4,5,I am a developer by profession,United Kingdom of Great Britain and Northern I...
...,...,...,...
83434,83435,I am a developer by profession,United States of America
83435,83436,I am a developer by profession,Benin
83436,83437,I am a developer by profession,United States of America
83437,83438,I am a developer by profession,Canada
83438,83439,I am a developer by profession,Brazil

In [ ]:
# to check nan values in the data frame
df2.isna()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,False,False,False,False,True,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,True,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,True,True,False,False,True,True,...,False,False,False,False,False,False,True,False,False,True
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
83435,False,False,False,False,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
83436,False,False,False,False,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
83437,False,False,False,False,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
83438,False,False,False,False,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
# we can recognise nan values at the time of reading the csv file
na_values = ['missing','nan','na']
print(pd.read_csv('stack-overflow-developer-survey-2021\\survey_results_public.csv',na_values=na_values))

       ResponseId                                         MainBranch  \
0               1                     I am a developer by profession
1               2             I am a student who is learning to code
2               3  I am not primarily a developer, but I write co...
3               4                     I am a developer by profession
4               5                     I am a developer by profession
...           ...                                                ...
83434       83435                     I am a developer by profession
83435       83436                     I am a developer by profession
83436       83437                     I am a developer by profession
83437       83438                     I am a developer by profession
83438       83439                     I am a developer by profession

                                              Employment  \
0      Independent contractor, freelancer, or self-em...
1                                     Student, full-time
2                                     Student, full-time
3                                     Employed full-time
4      Independent contractor, freelancer, or self-em...
...                                                  ...
83434                                 Employed full-time
83435  Independent contractor, freelancer, or self-em...
83436                                 Employed full-time
83437                                 Employed full-time
83438                                 Employed full-time

                                                 Country    US_State  \
0                                               Slovakia         NaN
1                                            Netherlands         NaN
2                                     Russian Federation         NaN
3                                                Austria         NaN
4      United Kingdom of Great Britain and Northern I...         NaN
...                                                  ...         ...
83434                           United States of America       Texas
83435                                              Benin         NaN
83436                           United States of America  New Jersey
83437                                             Canada         NaN
83438                                             Brazil         NaN

      UK_Country                                            EdLevel  \
0            NaN  Secondary school (e.g. American high school, G...
1            NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2            NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
3            NaN    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
4        England    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
...          ...                                                ...
83434        NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83435        NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83436        NaN  Secondary school (e.g. American high school, G...
83437        NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83438        NaN                 Professional degree (JD, MD, etc.)

          Age1stCode                                          LearnCode  \
0      18 - 24 years  Coding Bootcamp;Other online resources (ex: vi...
1      11 - 17 years  Other online resources (ex: videos, blogs, etc...
2      11 - 17 years  Other online resources (ex: videos, blogs, etc...
3      11 - 17 years                                                NaN
4       5 - 10 years                            Friend or family member
...              ...                                                ...
83434  11 - 17 years  Other online resources (ex: videos, blogs, etc...
83435  11 - 17 years  Other online resources (ex: videos, blogs, etc...
83436  11 - 17 years                                             School
83437  11 - 17 years  Online Courses or Certification;Books / Physic...
83438  11 - 17 years                                             School

      YearsCode  ...              Age Gender Trans                Sexuality  \
0           NaN  ...  25-34 years old    Man    No  Straight / Heterosexual
1             7  ...  18-24 years old    Man    No  Straight / Heterosexual
2           NaN  ...  18-24 years old    Man    No        Prefer not to say
3           NaN  ...  35-44 years old    Man    No  Straight / Heterosexual
4            17  ...  25-34 years old    Man    No                      NaN
...         ...  ...              ...    ...   ...                      ...
83434         6  ...  25-34 years old    Man    No  Straight / Heterosexual
83435         4  ...  18-24 years old    Man    No  Straight / Heterosexual
83436        10  ...  25-34 years old    Man    No                      NaN
83437         5  ...  25-34 years old    Man    No  Straight / Heterosexual
83438        14  ...  18-24 years old    Man    No  Straight / Heterosexual

                          Ethnicity                Accessibility  \
0      White or of European descent            None of the above
1      White or of European descent            None of the above
2                 Prefer not to say            None of the above
3      White or of European descent  I am deaf / hard of hearing
4      White or of European descent            None of the above
...                             ...                          ...
83434  White or of European descent            None of the above
83435   Black or of African descent            None of the above
83436  White or of European descent            None of the above
83437  White or of European descent            None of the above
83438        Hispanic or Latino/a/x            None of the above

                                            MentalHealth  \
0                                      None of the above
1                                      None of the above
2                                      None of the above
3                                                    NaN
4                                                    NaN
...                                                  ...
83434  I have a concentration and/or memory disorder ...
83435                                  None of the above
83436                                  None of the above
83437  I have a mood or emotional disorder (e.g. depr...
83438                                  None of the above

                SurveyLength                  SurveyEase ConvertedCompYearly
0      Appropriate in length                        Easy             62268.0
1      Appropriate in length                        Easy                 NaN
2      Appropriate in length                        Easy                 NaN
3      Appropriate in length  Neither easy nor difficult                 NaN
4      Appropriate in length                        Easy                 NaN
...                      ...                         ...                 ...
83434  Appropriate in length                        Easy            160500.0
83435  Appropriate in length                        Easy              3960.0
83436  Appropriate in length  Neither easy nor difficult             90000.0
83437  Appropriate in length  Neither easy nor difficult            816816.0
83438  Appropriate in length                        Easy             21168.0

[83439 rows x 48 columns]

In [ ]:
# lets get all unique values 
# all the countries involved
df2['Country'].unique()

array(['Slovakia', 'Netherlands', 'Russian Federation', 'Austria',
       'United Kingdom of Great Britain and Northern Ireland',
       'United States of America', 'Malaysia', 'India', 'Sweden', 'Spain',
       'Germany', 'Peru', 'Turkey', 'Canada', 'Singapore', 'Brazil',
       'France', 'Switzerland', 'Malawi', 'Israel', 'Poland', 'Ukraine',
       'Viet Nam', 'Portugal', 'Italy', 'Bulgaria', 'Greece',
       'Iran, Islamic Republic of...', 'Ireland', 'Georgia', 'Uzbekistan',
       'Hungary', 'Belgium', 'Pakistan', 'Nigeria', 'Albania',
       'Bangladesh', 'Romania', 'Sri Lanka', 'Lithuania', 'Slovenia',
       'Croatia', 'Czech Republic', 'Denmark', 'Armenia', 'Lebanon',
       'Bahrain', 'Egypt', 'Nepal', 'Colombia', 'Indonesia', 'Australia',
       'Turkmenistan', 'Morocco', 'Chile', 'Serbia', 'New Zealand',
       'Estonia', 'Tunisia', 'Finland', 'Hong Kong (S.A.R.)',
       'United Arab Emirates', 'Argentina', 'Azerbaijan', 'Philippines',
       'Costa Rica', 'South Africa', 'Kosovo', 'Japan',
       'United Republic of Tanzania', 'Bolivia', 'Bosnia and Herzegovina',
       'Uruguay', 'South Korea', 'China', 'Norway', 'Belarus',
       'Luxembourg', 'Malta', 'Ethiopia', 'Madagascar', 'Kenya',
       'The former Yugoslav Republic of Macedonia', 'Botswana', 'Algeria',
       'Senegal', 'Mexico', 'Cyprus',
       'Venezuela, Bolivarian Republic of...', 'Cameroon', 'Jordan',
       'Dominican Republic', 'Ecuador', 'Syrian Arab Republic', 'Zambia',
       'Taiwan', 'Nomadic', 'Latvia', 'Guatemala', 'Paraguay', 'Iceland',
       'Haiti', 'Republic of Moldova', 'Kazakhstan',
       'Libyan Arab Jamahiriya', 'Afghanistan', 'Panama', "Côte d'Ivoire",
       'Cuba', 'Myanmar', 'Tajikistan',
       "Lao People's Democratic Republic", 'Yemen', 'Thailand', 'Qatar',
       'Democratic Republic of the Congo', 'Iraq', 'Mozambique',
       'Somalia', 'Andorra', 'Kyrgyzstan', 'Kuwait', 'Saudi Arabia',
       'Mauritania', 'Honduras', 'Angola', 'Oman', 'Swaziland', 'Sudan',
       'Guyana', 'Chad', 'El Salvador', 'Benin', 'North Korea',
       'Nicaragua', 'Dominica', 'Trinidad and Tobago', 'Ghana',
       'Barbados', 'Burundi', 'Micronesia, Federated States of...',
       'Zimbabwe', 'Mauritius', 'Gambia', 'Bahamas',
       'Congo, Republic of the...', 'Suriname', 'Djibouti',
       'Republic of Korea', 'Bhutan', 'Cambodia', 'Uganda', 'Rwanda',
       'Montenegro', 'Maldives', 'Saint Kitts and Nevis', 'Monaco',
       'Togo', 'Isle of Man', 'Jamaica', 'Belize', 'Palestine',
       'Mongolia', 'Burkina Faso', 'Liechtenstein', 'Saint Lucia',
       'Cape Verde', 'Brunei Darussalam', 'Namibia',
       'Central African Republic', 'Lesotho', 'Guinea', 'Liberia', 'Fiji',
       'Niger', 'Sierra Leone', 'San Marino',
       'Saint Vincent and the Grenadines', 'Tuvalu', 'Papua New Guinea',
       'Mali'], dtype=object)

### Working With Dates & Time Series

In [76]:
# creating a new column with day names in it
df['Dates'] = pd.to_datetime(df['Dates'],format='%d-%m-%y')
df['day_name'] = df.loc[:,'Dates'].dt.day_name()
df.sort_values(by='Dates')

ValueError: time data '17-Feb-2022' does not match format '%d-%m-%y' (match)

In [77]:
# lets find the day with high volume
dname_grp = df.groupby(['day_name'])
data = dname_grp['No. of Trades'].sum()
x = data.index
y = [data[i] for i in x]
plt.bar(x,y)
plt.xlabel('Days',fontsize=15)
plt.ylabel('Volume',fontsize = 15);

KeyError: 'day_name'

In [ ]:
# to get the most recent date
df['Dates'].max()

In [ ]:
# to get the most earliest date 
df['Dates'].min()

In [ ]:
# to get all the values between 2022-02-17 & 2022-03-03
df.reset_index(inplace = True)
filter6 =  (df['Dates']>pd.to_datetime('2022-02-17')) & (df['Dates']<pd.to_datetime('2022-03-03'))
df[filter6]

In [ ]:
#or use timeslicing to achieve the same result 

df.set_index('Dates',inplace =True)
df.loc['2021-02-17':'2022-03-02']
#df.drop(columns=['level_0','index'],inplace =True)

In [ ]:
# get the mean of close price during 2020 - 2022
df['2019':'2022']['CP'].mean()

In [ ]:
# etherium prices
df3 = pd.read_csv(r'https://raw.githubusercontent.com/CoreyMSchafer/code_snippets/master/Python/Pandas/10-Datetime-Timeseries/ETH_1h.csv')

In [ ]:
df3

In [ ]:
# converting "Date" column to datetime format
df3['Dates'] = pd.to_datetime(df3['Date'],format ='%Y-%m-%d %I-%p')
df3 = df3.drop(columns='Date')

In [ ]:
df3 = df3.set_index('Dates')

In [ ]:
# obtain day high of 2020-03-13
df3.loc['2020-03-13'].max()

In [ ]:
# df3.reset_index(inplace=True)

In [ ]:
# get day high of all the day ?
# for that we have to use resampling
df3['High'].resample('D').max()

### Reading/Writing Data to different sources

In [ ]:
# saving as csv
df3.to_csv('Eth.csv')

In [ ]:
# we can also store it in excel using the module 'xlwt','openpyxl','xlrd'
df3.to_excel('Eth.xlsx')

In [ ]:
# we can also specify the index column while saving 
df2.to_excel('')

In [ ]:
df2