In [1]:
import pandas as pd

### Series

In [2]:
pd.Series({'lap1':1.23,'lap2':1.22,'lap3':1.55})

lap1    1.23
lap2    1.22
lap3    1.55
dtype: float64

### DataFrame

In [3]:
df1 = pd.DataFrame({'first':['ashi','aski','husky','messi','pele','ronoldo','kabib'],
                   'last':['taskani','nuke','swart','lenon','no','chri','nurmog'],
                   'age':[21,23,50,45,75,47,35]})
df1

     first     last  age
0     ashi  taskani   21
1     aski     nuke   23
2    husky    swart   50
3    messi    lenon   45
4     pele       no   75
5  ronoldo     chri   47
6    kabib   nurmog   35

In [110]:
# reading csv
df = pd.read_csv('C:\\Users\\rahma\\OneDrive\\Documents\\Deep-Learning-Prerequisites-The-Numpy-Stack-in-Python-V2-\\16-02-2022-TO-17-03-2022RELIANCEALLN.csv')
print(df)

      Symbol Series         Date  Prev Close  Open Price  High Price  \
0   RELIANCE     EQ  16-Feb-2022     2417.95     2430.00     2433.00
1   RELIANCE     EQ  17-Feb-2022     2412.95     2420.10     2454.90
2   RELIANCE     EQ  18-Feb-2022     2443.50     2444.40     2456.40
3   RELIANCE     EQ  21-Feb-2022     2424.40     2412.00     2437.50
4   RELIANCE     EQ  22-Feb-2022     2399.90     2352.90     2395.90
..       ...    ...          ...         ...         ...         ...
16  RELIANCE     EQ  11-Mar-2022     2392.25     2376.05     2411.00
17  RELIANCE     EQ  14-Mar-2022     2399.15     2386.90     2424.40
18  RELIANCE     EQ  15-Mar-2022     2418.85     2427.95     2427.95
19  RELIANCE     EQ  16-Mar-2022     2363.45     2382.00     2407.90
20  RELIANCE     EQ  17-Mar-2022     2403.35     2432.75     2497.40

    Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
0     2395.95     2407.65      2412.95        2417.77                4796294
1     2410.00     2441.00      2443.50        2439.61                5931774
2     2420.15     2427.30      2424.40        2440.25                3126873
3     2384.60     2399.60      2399.90        2409.12                5125968
4     2347.15     2389.75      2389.00        2372.16                6227901
..        ...         ...          ...            ...                    ...
16    2376.05     2393.15      2399.15        2396.11                5656799
17    2374.00     2422.20      2418.85        2401.52                3849222
18    2340.85     2362.00      2363.45        2386.09                7349740
19    2377.10     2401.50      2403.35        2396.17                5145644
20    2415.10     2487.50      2481.70        2456.66                9886295

        Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
0   1.159633e+10         190438          2607957                   54.37
1   1.447121e+10         211881          2872619                   48.43
2   7.630367e+09         158691          1216161                   38.89
3   1.234908e+10         226214          2888548                   56.35
4   1.477358e+10         197401          3920789                   62.96
..           ...            ...              ...                     ...
16  1.355429e+10         199494          3028604                   53.54
17  9.243999e+09         160500          1800381                   46.77
18  1.753714e+10         257511          3924279                   53.39
19  1.232985e+10         185464          2824434                   54.89
20  2.428730e+10         274442          5961590                   60.30

[21 rows x 15 columns]

In [5]:
# to display all the columns and rows
pd.set_option('display.max_columns',21)
pd.set_option('display.max_rows',15)
print(df)

      Symbol Series         Date  Prev Close  Open Price  High Price  \
0   RELIANCE     EQ  16-Feb-2022     2417.95     2430.00     2433.00
1   RELIANCE     EQ  17-Feb-2022     2412.95     2420.10     2454.90
2   RELIANCE     EQ  18-Feb-2022     2443.50     2444.40     2456.40
3   RELIANCE     EQ  21-Feb-2022     2424.40     2412.00     2437.50
4   RELIANCE     EQ  22-Feb-2022     2399.90     2352.90     2395.90
..       ...    ...          ...         ...         ...         ...
16  RELIANCE     EQ  11-Mar-2022     2392.25     2376.05     2411.00
17  RELIANCE     EQ  14-Mar-2022     2399.15     2386.90     2424.40
18  RELIANCE     EQ  15-Mar-2022     2418.85     2427.95     2427.95
19  RELIANCE     EQ  16-Mar-2022     2363.45     2382.00     2407.90
20  RELIANCE     EQ  17-Mar-2022     2403.35     2432.75     2497.40

    Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
0     2395.95     2407.65      2412.95        2417.77                4796294
1     2410.00     2441.00      2443.50        2439.61                5931774
2     2420.15     2427.30      2424.40        2440.25                3126873
3     2384.60     2399.60      2399.90        2409.12                5125968
4     2347.15     2389.75      2389.00        2372.16                6227901
..        ...         ...          ...            ...                    ...
16    2376.05     2393.15      2399.15        2396.11                5656799
17    2374.00     2422.20      2418.85        2401.52                3849222
18    2340.85     2362.00      2363.45        2386.09                7349740
19    2377.10     2401.50      2403.35        2396.17                5145644
20    2415.10     2487.50      2481.70        2456.66                9886295

        Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
0   1.159633e+10         190438          2607957                   54.37
1   1.447121e+10         211881          2872619                   48.43
2   7.630367e+09         158691          1216161                   38.89
3   1.234908e+10         226214          2888548                   56.35
4   1.477358e+10         197401          3920789                   62.96
..           ...            ...              ...                     ...
16  1.355429e+10         199494          3028604                   53.54
17  9.243999e+09         160500          1800381                   46.77
18  1.753714e+10         257511          3924279                   53.39
19  1.232985e+10         185464          2824434                   54.89
20  2.428730e+10         274442          5961590                   60.30

[21 rows x 15 columns]

In [111]:
# first 5 rows 
print(df.head())

     Symbol Series         Date  Prev Close  Open Price  High Price  \
0  RELIANCE     EQ  16-Feb-2022     2417.95      2430.0      2433.0
1  RELIANCE     EQ  17-Feb-2022     2412.95      2420.1      2454.9
2  RELIANCE     EQ  18-Feb-2022     2443.50      2444.4      2456.4
3  RELIANCE     EQ  21-Feb-2022     2424.40      2412.0      2437.5
4  RELIANCE     EQ  22-Feb-2022     2399.90      2352.9      2395.9

   Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
0    2395.95     2407.65      2412.95        2417.77                4796294
1    2410.00     2441.00      2443.50        2439.61                5931774
2    2420.15     2427.30      2424.40        2440.25                3126873
3    2384.60     2399.60      2399.90        2409.12                5125968
4    2347.15     2389.75      2389.00        2372.16                6227901

       Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
0  1.159633e+10         190438          2607957                   54.37
1  1.447121e+10         211881          2872619                   48.43
2  7.630367e+09         158691          1216161                   38.89
3  1.234908e+10         226214          2888548                   56.35
4  1.477358e+10         197401          3920789                   62.96

In [112]:
# first 7 rows
print(df.head(7))

     Symbol Series         Date  Prev Close  Open Price  High Price  \
0  RELIANCE     EQ  16-Feb-2022     2417.95      2430.0     2433.00
1  RELIANCE     EQ  17-Feb-2022     2412.95      2420.1     2454.90
2  RELIANCE     EQ  18-Feb-2022     2443.50      2444.4     2456.40
3  RELIANCE     EQ  21-Feb-2022     2424.40      2412.0     2437.50
4  RELIANCE     EQ  22-Feb-2022     2399.90      2352.9     2395.90
5  RELIANCE     EQ  23-Feb-2022     2389.00      2401.1     2406.55
6  RELIANCE     EQ  24-Feb-2022     2374.05      2305.0     2339.90

   Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
0    2395.95     2407.65      2412.95        2417.77                4796294
1    2410.00     2441.00      2443.50        2439.61                5931774
2    2420.15     2427.30      2424.40        2440.25                3126873
3    2384.60     2399.60      2399.90        2409.12                5125968
4    2347.15     2389.75      2389.00        2372.16                6227901
5    2368.00     2371.25      2374.05        2391.23                3373615
6    2243.40     2250.00      2255.75        2291.15               11466725

       Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
0  1.159633e+10         190438          2607957                   54.37
1  1.447121e+10         211881          2872619                   48.43
2  7.630367e+09         158691          1216161                   38.89
3  1.234908e+10         226214          2888548                   56.35
4  1.477358e+10         197401          3920789                   62.96
5  8.067102e+09         195350          1928054                   57.15
6  2.627201e+10         493459          7266877                   63.37

In [113]:
# last 5 rows
print(df.tail())

      Symbol Series         Date  Prev Close  Open Price  High Price  \
16  RELIANCE     EQ  11-Mar-2022     2392.25     2376.05     2411.00
17  RELIANCE     EQ  14-Mar-2022     2399.15     2386.90     2424.40
18  RELIANCE     EQ  15-Mar-2022     2418.85     2427.95     2427.95
19  RELIANCE     EQ  16-Mar-2022     2363.45     2382.00     2407.90
20  RELIANCE     EQ  17-Mar-2022     2403.35     2432.75     2497.40

    Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
16    2376.05     2393.15      2399.15        2396.11                5656799
17    2374.00     2422.20      2418.85        2401.52                3849222
18    2340.85     2362.00      2363.45        2386.09                7349740
19    2377.10     2401.50      2403.35        2396.17                5145644
20    2415.10     2487.50      2481.70        2456.66                9886295

        Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
16  1.355429e+10         199494          3028604                   53.54
17  9.243999e+09         160500          1800381                   46.77
18  1.753714e+10         257511          3924279                   53.39
19  1.232985e+10         185464          2824434                   54.89
20  2.428730e+10         274442          5961590                   60.30

In [17]:
# accessing the column Last price
df['Last Price']

0     2407.65
1     2441.00
2     2427.30
3     2399.60
4     2389.75
       ...
16    2393.15
17    2422.20
18    2362.00
19    2401.50
20    2487.50
Name: Last Price, Length: 21, dtype: float64

In [114]:
# accessing the columns 'low price' and 'high price'
print(df[['Low Price','High Price']])

    Low Price  High Price
0     2395.95     2433.00
1     2410.00     2454.90
2     2420.15     2456.40
3     2384.60     2437.50
4     2347.15     2395.90
..        ...         ...
16    2376.05     2411.00
17    2374.00     2424.40
18    2340.85     2427.95
19    2377.10     2407.90
20    2415.10     2497.40

[21 rows x 2 columns]

In [23]:
# all column names
df.columns

Index(['Symbol', 'Series', 'Date', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty'],
      dtype='object')

In [24]:
# accessing first column with number
df.iloc[1]

Symbol                          RELIANCE
Series                                EQ
Date                         17-Feb-2022
Prev Close                       2412.95
Open Price                        2420.1
High Price                        2454.9
Low Price                         2410.0
Last Price                        2441.0
Close Price                       2443.5
Average Price                    2439.61
Total Traded Quantity            5931774
Turnover                  14471212589.25
No. of Trades                     211881
Deliverable Qty                  2872619
% Dly Qt to Traded Qty             48.43
Name: 1, dtype: object

In [115]:
# accesing first 2 rows
print(df.iloc[[1,2]])

     Symbol Series         Date  Prev Close  Open Price  High Price  \
1  RELIANCE     EQ  17-Feb-2022     2412.95      2420.1      2454.9
2  RELIANCE     EQ  18-Feb-2022     2443.50      2444.4      2456.4

   Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
1    2410.00      2441.0       2443.5        2439.61                5931774
2    2420.15      2427.3       2424.4        2440.25                3126873

       Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
1  1.447121e+10         211881          2872619                   48.43
2  7.630367e+09         158691          1216161                   38.89

In [116]:
# accessing columns with names
# opening prices of reliance of 10 days
# remember when slicing no brackets
print(df.loc[0:10,['Date','Open Price']])

           Date  Open Price
0   16-Feb-2022     2430.00
1   17-Feb-2022     2420.10
2   18-Feb-2022     2444.40
3   21-Feb-2022     2412.00
4   22-Feb-2022     2352.90
5   23-Feb-2022     2401.10
6   24-Feb-2022     2305.00
7   25-Feb-2022     2280.10
8   28-Feb-2022     2243.00
9   02-Mar-2022     2334.45
10  03-Mar-2022     2400.00

In [44]:
df.loc[[0,1],'Average Price']

0    2417.77
1    2439.61
Name: Average Price, dtype: float64

In [117]:
# obtaining five rows of columns from 'Date' to 'Aerage Price'
print(df.loc[0:4,'Date':'Average Price'])

          Date  Prev Close  Open Price  High Price  Low Price  Last Price  \
0  16-Feb-2022     2417.95      2430.0      2433.0    2395.95     2407.65
1  17-Feb-2022     2412.95      2420.1      2454.9    2410.00     2441.00
2  18-Feb-2022     2443.50      2444.4      2456.4    2420.15     2427.30
3  21-Feb-2022     2424.40      2412.0      2437.5    2384.60     2399.60
4  22-Feb-2022     2399.90      2352.9      2395.9    2347.15     2389.75

   Close Price  Average Price
0      2412.95        2417.77
1      2443.50        2439.61
2      2424.40        2440.25
3      2399.90        2409.12
4      2389.00        2372.16

### INDEXES

In [123]:
# setting Date as INDEX
df.set_index("Date",inplace = True)
# remember using inplace is to make the changes permenant

In [124]:
print(df)

               Symbol Series  Prev Close  Open Price  High Price  Low Price  \
Date
16-Feb-2022  RELIANCE     EQ     2417.95     2430.00     2433.00    2395.95
17-Feb-2022  RELIANCE     EQ     2412.95     2420.10     2454.90    2410.00
18-Feb-2022  RELIANCE     EQ     2443.50     2444.40     2456.40    2420.15
21-Feb-2022  RELIANCE     EQ     2424.40     2412.00     2437.50    2384.60
22-Feb-2022  RELIANCE     EQ     2399.90     2352.90     2395.90    2347.15
...               ...    ...         ...         ...         ...        ...
11-Mar-2022  RELIANCE     EQ     2392.25     2376.05     2411.00    2376.05
14-Mar-2022  RELIANCE     EQ     2399.15     2386.90     2424.40    2374.00
15-Mar-2022  RELIANCE     EQ     2418.85     2427.95     2427.95    2340.85
16-Mar-2022  RELIANCE     EQ     2363.45     2382.00     2407.90    2377.10
17-Mar-2022  RELIANCE     EQ     2403.35     2432.75     2497.40    2415.10

             Last Price  Close Price  Average Price  Total Traded Quantity  \
Date
16-Feb-2022     2407.65      2412.95        2417.77                4796294
17-Feb-2022     2441.00      2443.50        2439.61                5931774
18-Feb-2022     2427.30      2424.40        2440.25                3126873
21-Feb-2022     2399.60      2399.90        2409.12                5125968
22-Feb-2022     2389.75      2389.00        2372.16                6227901
...                 ...          ...            ...                    ...
11-Mar-2022     2393.15      2399.15        2396.11                5656799
14-Mar-2022     2422.20      2418.85        2401.52                3849222
15-Mar-2022     2362.00      2363.45        2386.09                7349740
16-Mar-2022     2401.50      2403.35        2396.17                5145644
17-Mar-2022     2487.50      2481.70        2456.66                9886295

                 Turnover  No. of Trades  Deliverable Qty  \
Date
16-Feb-2022  1.159633e+10         190438          2607957
17-Feb-2022  1.447121e+10         211881          2872619
18-Feb-2022  7.630367e+09         158691          1216161
21-Feb-2022  1.234908e+10         226214          2888548
22-Feb-2022  1.477358e+10         197401          3920789
...                   ...            ...              ...
11-Mar-2022  1.355429e+10         199494          3028604
14-Mar-2022  9.243999e+09         160500          1800381
15-Mar-2022  1.753714e+10         257511          3924279
16-Mar-2022  1.232985e+10         185464          2824434
17-Mar-2022  2.428730e+10         274442          5961590

             % Dly Qt to Traded Qty
Date
16-Feb-2022                   54.37
17-Feb-2022                   48.43
18-Feb-2022                   38.89
21-Feb-2022                   56.35
22-Feb-2022                   62.96
...                             ...
11-Mar-2022                   53.54
14-Mar-2022                   46.77
15-Mar-2022                   53.39
16-Mar-2022                   54.89
17-Mar-2022                   60.30

[21 rows x 14 columns]

In [126]:
# obtianing values of date '11-Mar-2022'
print(df.loc[['11-Mar-2022']])

               Symbol Series  Prev Close  Open Price  High Price  Low Price  \
Date
11-Mar-2022  RELIANCE     EQ     2392.25     2376.05      2411.0    2376.05

             Last Price  Close Price  Average Price  Total Traded Quantity  \
Date
11-Mar-2022     2393.15      2399.15        2396.11                5656799

                 Turnover  No. of Trades  Deliverable Qty  \
Date
11-Mar-2022  1.355429e+10         199494          3028604

             % Dly Qt to Traded Qty
Date
11-Mar-2022                   53.54

In [127]:
# resetting it back to default
df.reset_index(inplace = True)
print(df)

           Date    Symbol Series  Prev Close  Open Price  High Price  \
0   16-Feb-2022  RELIANCE     EQ     2417.95     2430.00     2433.00
1   17-Feb-2022  RELIANCE     EQ     2412.95     2420.10     2454.90
2   18-Feb-2022  RELIANCE     EQ     2443.50     2444.40     2456.40
3   21-Feb-2022  RELIANCE     EQ     2424.40     2412.00     2437.50
4   22-Feb-2022  RELIANCE     EQ     2399.90     2352.90     2395.90
..          ...       ...    ...         ...         ...         ...
16  11-Mar-2022  RELIANCE     EQ     2392.25     2376.05     2411.00
17  14-Mar-2022  RELIANCE     EQ     2399.15     2386.90     2424.40
18  15-Mar-2022  RELIANCE     EQ     2418.85     2427.95     2427.95
19  16-Mar-2022  RELIANCE     EQ     2363.45     2382.00     2407.90
20  17-Mar-2022  RELIANCE     EQ     2403.35     2432.75     2497.40

    Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
0     2395.95     2407.65      2412.95        2417.77                4796294
1     2410.00     2441.00      2443.50        2439.61                5931774
2     2420.15     2427.30      2424.40        2440.25                3126873
3     2384.60     2399.60      2399.90        2409.12                5125968
4     2347.15     2389.75      2389.00        2372.16                6227901
..        ...         ...          ...            ...                    ...
16    2376.05     2393.15      2399.15        2396.11                5656799
17    2374.00     2422.20      2418.85        2401.52                3849222
18    2340.85     2362.00      2363.45        2386.09                7349740
19    2377.10     2401.50      2403.35        2396.17                5145644
20    2415.10     2487.50      2481.70        2456.66                9886295

        Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
0   1.159633e+10         190438          2607957                   54.37
1   1.447121e+10         211881          2872619                   48.43
2   7.630367e+09         158691          1216161                   38.89
3   1.234908e+10         226214          2888548                   56.35
4   1.477358e+10         197401          3920789                   62.96
..           ...            ...              ...                     ...
16  1.355429e+10         199494          3028604                   53.54
17  9.243999e+09         160500          1800381                   46.77
18  1.753714e+10         257511          3924279                   53.39
19  1.232985e+10         185464          2824434                   54.89
20  2.428730e+10         274442          5961590                   60.30

[21 rows x 15 columns]

In [94]:
# list all index values
df.index

RangeIndex(start=0, stop=21, step=1)

In [134]:
# we can also specify index column at csv file
print(pd.read_csv('C:\\Users\\rahma\\OneDrive\\Documents\\Deep-Learning-Prerequisites-The-Numpy-Stack-in-Python-V2-\\16-02-2022-TO-17-03-2022RELIANCEALLN.csv',index_col = 'Date'))

               Symbol Series  Prev Close  Open Price  High Price  Low Price  \
Date
16-Feb-2022  RELIANCE     EQ     2417.95     2430.00     2433.00    2395.95
17-Feb-2022  RELIANCE     EQ     2412.95     2420.10     2454.90    2410.00
18-Feb-2022  RELIANCE     EQ     2443.50     2444.40     2456.40    2420.15
21-Feb-2022  RELIANCE     EQ     2424.40     2412.00     2437.50    2384.60
22-Feb-2022  RELIANCE     EQ     2399.90     2352.90     2395.90    2347.15
...               ...    ...         ...         ...         ...        ...
11-Mar-2022  RELIANCE     EQ     2392.25     2376.05     2411.00    2376.05
14-Mar-2022  RELIANCE     EQ     2399.15     2386.90     2424.40    2374.00
15-Mar-2022  RELIANCE     EQ     2418.85     2427.95     2427.95    2340.85
16-Mar-2022  RELIANCE     EQ     2363.45     2382.00     2407.90    2377.10
17-Mar-2022  RELIANCE     EQ     2403.35     2432.75     2497.40    2415.10

             Last Price  Close Price  Average Price  Total Traded Quantity  \
Date
16-Feb-2022     2407.65      2412.95        2417.77                4796294
17-Feb-2022     2441.00      2443.50        2439.61                5931774
18-Feb-2022     2427.30      2424.40        2440.25                3126873
21-Feb-2022     2399.60      2399.90        2409.12                5125968
22-Feb-2022     2389.75      2389.00        2372.16                6227901
...                 ...          ...            ...                    ...
11-Mar-2022     2393.15      2399.15        2396.11                5656799
14-Mar-2022     2422.20      2418.85        2401.52                3849222
15-Mar-2022     2362.00      2363.45        2386.09                7349740
16-Mar-2022     2401.50      2403.35        2396.17                5145644
17-Mar-2022     2487.50      2481.70        2456.66                9886295

                 Turnover  No. of Trades  Deliverable Qty  \
Date
16-Feb-2022  1.159633e+10         190438          2607957
17-Feb-2022  1.447121e+10         211881          2872619
18-Feb-2022  7.630367e+09         158691          1216161
21-Feb-2022  1.234908e+10         226214          2888548
22-Feb-2022  1.477358e+10         197401          3920789
...                   ...            ...              ...
11-Mar-2022  1.355429e+10         199494          3028604
14-Mar-2022  9.243999e+09         160500          1800381
15-Mar-2022  1.753714e+10         257511          3924279
16-Mar-2022  1.232985e+10         185464          2824434
17-Mar-2022  2.428730e+10         274442          5961590

             % Dly Qt to Traded Qty
Date
16-Feb-2022                   54.37
17-Feb-2022                   48.43
18-Feb-2022                   38.89
21-Feb-2022                   56.35
22-Feb-2022                   62.96
...                             ...
11-Mar-2022                   53.54
14-Mar-2022                   46.77
15-Mar-2022                   53.39
16-Mar-2022                   54.89
17-Mar-2022                   60.30

[21 rows x 14 columns]

### Filtering

In [139]:
# get all the rows with opening price > closing price
filt = df['Open Price']>df['Close Price']
print(filt)

0      True
1     False
2      True
3      True
4     False
      ...
16    False
17    False
18     True
19    False
20    False
Length: 21, dtype: bool

In [160]:
# get all the date with open price > close price
print(df[filt]['Date'])
# print(df[filt].loc[:,'Date'])

0     16-Feb-2022
2     18-Feb-2022
3     21-Feb-2022
5     23-Feb-2022
6     24-Feb-2022
10    03-Mar-2022
11    04-Mar-2022
12    07-Mar-2022
15    10-Mar-2022
18    15-Mar-2022
Name: Date, dtype: object

In [167]:
# get all the date with 'Prev Close' < 'Open Price' and 'Close Price' > 'Open Price'
filt1 = (df['Prev Close']<df['Open Price']) & ( df['Close Price'] > df['Open Price'])
print(df[filt1])

           Date    Symbol Series  Prev Close  Open Price  High Price  \
1   17-Feb-2022  RELIANCE     EQ     2412.95     2420.10     2454.90
7   25-Feb-2022  RELIANCE     EQ     2255.75     2280.10     2307.95
14  09-Mar-2022  RELIANCE     EQ     2235.50     2236.00     2367.00
19  16-Mar-2022  RELIANCE     EQ     2363.45     2382.00     2407.90
20  17-Mar-2022  RELIANCE     EQ     2403.35     2432.75     2497.40

    Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
1     2410.00      2441.0      2443.50        2439.61                5931774
7     2276.25      2283.0      2283.95        2290.84                6724094
14    2234.15      2358.3      2354.10        2316.35                9421163
19    2377.10      2401.5      2403.35        2396.17                5145644
20    2415.10      2487.5      2481.70        2456.66                9886295

        Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
1   1.447121e+10         211881          2872619                   48.43
7   1.540384e+10         281047          3670287                   54.58
14  2.182271e+10         325395          4647153                   49.33
19  1.232985e+10         185464          2824434                   54.89
20  2.428730e+10         274442          5961590                   60.30

In [181]:
# to get the direct opposit of this we can use ~
print(df[~filt1])

           Date    Symbol Series  Prev Close  Open Price  High Price  \
0   16-Feb-2022  RELIANCE     EQ     2417.95     2430.00     2433.00
2   18-Feb-2022  RELIANCE     EQ     2443.50     2444.40     2456.40
3   21-Feb-2022  RELIANCE     EQ     2424.40     2412.00     2437.50
4   22-Feb-2022  RELIANCE     EQ     2399.90     2352.90     2395.90
5   23-Feb-2022  RELIANCE     EQ     2389.00     2401.10     2406.55
..          ...       ...    ...         ...         ...         ...
13  08-Mar-2022  RELIANCE     EQ     2239.55     2211.50     2246.00
15  10-Mar-2022  RELIANCE     EQ     2354.10     2400.00     2405.00
16  11-Mar-2022  RELIANCE     EQ     2392.25     2376.05     2411.00
17  14-Mar-2022  RELIANCE     EQ     2399.15     2386.90     2424.40
18  15-Mar-2022  RELIANCE     EQ     2418.85     2427.95     2427.95

    Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
0     2395.95     2407.65      2412.95        2417.77                4796294
2     2420.15     2427.30      2424.40        2440.25                3126873
3     2384.60     2399.60      2399.90        2409.12                5125968
4     2347.15     2389.75      2389.00        2372.16                6227901
5     2368.00     2371.25      2374.05        2391.23                3373615
..        ...         ...          ...            ...                    ...
13    2180.00     2235.05      2235.50        2220.15                9825043
15    2360.00     2387.00      2392.25        2386.79                8297995
16    2376.05     2393.15      2399.15        2396.11                5656799
17    2374.00     2422.20      2418.85        2401.52                3849222
18    2340.85     2362.00      2363.45        2386.09                7349740

        Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
0   1.159633e+10         190438          2607957                   54.37
2   7.630367e+09         158691          1216161                   38.89
3   1.234908e+10         226214          2888548                   56.35
4   1.477358e+10         197401          3920789                   62.96
5   8.067102e+09         195350          1928054                   57.15
..           ...            ...              ...                     ...
13  2.181302e+10         428117          5602260                   57.02
15  1.980560e+10         278083          4102149                   49.44
16  1.355429e+10         199494          3028604                   53.54
17  9.243999e+09         160500          1800381                   46.77
18  1.753714e+10         257511          3924279                   53.39

[16 rows x 15 columns]

In [180]:
# get columns only if the 'Deliverable Qty in the list'
DQL = [5602260 ,3924279 ,2888548 ]
filt2 = df["Deliverable Qty"].isin(DQL)
print(df[filt2])

           Date    Symbol Series  Prev Close  Open Price  High Price  \
3   21-Feb-2022  RELIANCE     EQ     2424.40     2412.00     2437.50
13  08-Mar-2022  RELIANCE     EQ     2239.55     2211.50     2246.00
18  15-Mar-2022  RELIANCE     EQ     2418.85     2427.95     2427.95

    Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
3     2384.60     2399.60      2399.90        2409.12                5125968
13    2180.00     2235.05      2235.50        2220.15                9825043
18    2340.85     2362.00      2363.45        2386.09                7349740

        Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
3   1.234908e+10         226214          2888548                   56.35
13  2.181302e+10         428117          5602260                   57.02
18  1.753714e+10         257511          3924279                   53.39

In [179]:
# take the row if date contains 'F'
filt2 = df["Date"].str.contains('F')
print(df[filt2])

          Date    Symbol Series  Prev Close  Open Price  High Price  \
0  16-Feb-2022  RELIANCE     EQ     2417.95      2430.0     2433.00
1  17-Feb-2022  RELIANCE     EQ     2412.95      2420.1     2454.90
2  18-Feb-2022  RELIANCE     EQ     2443.50      2444.4     2456.40
3  21-Feb-2022  RELIANCE     EQ     2424.40      2412.0     2437.50
4  22-Feb-2022  RELIANCE     EQ     2399.90      2352.9     2395.90
5  23-Feb-2022  RELIANCE     EQ     2389.00      2401.1     2406.55
6  24-Feb-2022  RELIANCE     EQ     2374.05      2305.0     2339.90
7  25-Feb-2022  RELIANCE     EQ     2255.75      2280.1     2307.95
8  28-Feb-2022  RELIANCE     EQ     2283.95      2243.0     2367.35

   Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
0    2395.95     2407.65      2412.95        2417.77                4796294
1    2410.00     2441.00      2443.50        2439.61                5931774
2    2420.15     2427.30      2424.40        2440.25                3126873
3    2384.60     2399.60      2399.90        2409.12                5125968
4    2347.15     2389.75      2389.00        2372.16                6227901
5    2368.00     2371.25      2374.05        2391.23                3373615
6    2243.40     2250.00      2255.75        2291.15               11466725
7    2276.25     2283.00      2283.95        2290.84                6724094
8    2243.00     2355.00      2359.55        2328.64                9828768

       Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
0  1.159633e+10         190438          2607957                   54.37
1  1.447121e+10         211881          2872619                   48.43
2  7.630367e+09         158691          1216161                   38.89
3  1.234908e+10         226214          2888548                   56.35
4  1.477358e+10         197401          3920789                   62.96
5  8.067102e+09         195350          1928054                   57.15
6  2.627201e+10         493459          7266877                   63.37
7  1.540384e+10         281047          3670287                   54.58
8  2.288768e+10         240020          5321030                   54.14

 Remember if the values contains Nan while we applying $str.contains()$ method , it will return error. 
 
 We can tackle this situation by $str.contains('python',na = False)$

### Modifying Data Within DataFrames

In [183]:
# get all the column names
df.columns

Index(['Date', 'Symbol', 'Series', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty'],
      dtype='object')

In [189]:
# changing column names
df.columns = ['Dates','RELIANCE', 'Series', 'PC', 'OP', 'HP',
       'LP', 'Last Price', 'CP', 'AP',
       'TTQ', 'Turnover', 'No. of Trades', 'DQ',
       '% Dly Qt to Traded Qty']
print(df)

          Dates  RELIANCE Series       PC       OP       HP       LP  \
0   16-Feb-2022  RELIANCE     EQ  2417.95  2430.00  2433.00  2395.95
1   17-Feb-2022  RELIANCE     EQ  2412.95  2420.10  2454.90  2410.00
2   18-Feb-2022  RELIANCE     EQ  2443.50  2444.40  2456.40  2420.15
3   21-Feb-2022  RELIANCE     EQ  2424.40  2412.00  2437.50  2384.60
4   22-Feb-2022  RELIANCE     EQ  2399.90  2352.90  2395.90  2347.15
..          ...       ...    ...      ...      ...      ...      ...
16  11-Mar-2022  RELIANCE     EQ  2392.25  2376.05  2411.00  2376.05
17  14-Mar-2022  RELIANCE     EQ  2399.15  2386.90  2424.40  2374.00
18  15-Mar-2022  RELIANCE     EQ  2418.85  2427.95  2427.95  2340.85
19  16-Mar-2022  RELIANCE     EQ  2363.45  2382.00  2407.90  2377.10
20  17-Mar-2022  RELIANCE     EQ  2403.35  2432.75  2497.40  2415.10

    Last Price       CP       AP      TTQ      Turnover  No. of Trades  \
0      2407.65  2412.95  2417.77  4796294  1.159633e+10         190438
1      2441.00  2443.50  2439.61  5931774  1.447121e+10         211881
2      2427.30  2424.40  2440.25  3126873  7.630367e+09         158691
3      2399.60  2399.90  2409.12  5125968  1.234908e+10         226214
4      2389.75  2389.00  2372.16  6227901  1.477358e+10         197401
..         ...      ...      ...      ...           ...            ...
16     2393.15  2399.15  2396.11  5656799  1.355429e+10         199494
17     2422.20  2418.85  2401.52  3849222  9.243999e+09         160500
18     2362.00  2363.45  2386.09  7349740  1.753714e+10         257511
19     2401.50  2403.35  2396.17  5145644  1.232985e+10         185464
20     2487.50  2481.70  2456.66  9886295  2.428730e+10         274442

         DQ  % Dly Qt to Traded Qty
0   2607957                   54.37
1   2872619                   48.43
2   1216161                   38.89
3   2888548                   56.35
4   3920789                   62.96
..      ...                     ...
16  3028604                   53.54
17  1800381                   46.77
18  3924279                   53.39
19  2824434                   54.89
20  5961590                   60.30

[21 rows x 15 columns]

In [206]:
# another way to change column names
# here we can change specific columns
print(df.rename(columns={'PC':'Prev Close','OP':'Open Price','HP':'High Price','LP':'Low Price','CP':'Current Price','AP':'Average Price','TTQ':'Total Traded Quantity'}))

          Dates  RELIANCE Series  Prev Close  Open Price  High Price  \
0   17-Feb-2022  RELIANCE     EQ     2412.95     2420.10     2454.90
1   17-Feb-2022  RELIANCE     EQ     2412.95     2420.10     2454.90
2   18-Feb-2022  RELIANCE     EQ     2443.50     2444.40     2456.40
3   21-Feb-2022  RELIANCE     EQ     2424.40     2412.00     2437.50
4   22-Feb-2022  RELIANCE     EQ     2399.90     2352.90     2395.90
..          ...       ...    ...         ...         ...         ...
16  11-Mar-2022  RELIANCE     EQ     2392.25     2376.05     2411.00
17  14-Mar-2022  RELIANCE     EQ     2399.15     2386.90     2424.40
18  15-Mar-2022  RELIANCE     EQ     2418.85     2427.95     2427.95
19  16-Mar-2022  RELIANCE     EQ     2363.45     2382.00     2407.90
20  17-Mar-2022  RELIANCE     EQ     2403.35     2432.75     2497.40

    Low Price  Last Price  Current Price  Average Price  \
0     2410.00     2441.00        2443.50        2439.61
1     2410.00     2441.00        2443.50        2439.61
2     2420.15     2427.30        2424.40        2440.25
3     2384.60     2399.60        2399.90        2409.12
4     2347.15     2389.75        2389.00        2372.16
..        ...         ...            ...            ...
16    2376.05     2393.15        2399.15        2396.11
17    2374.00     2422.20        2418.85        2401.52
18    2340.85     2362.00        2363.45        2386.09
19    2377.10     2401.50        2403.35        2396.17
20    2415.10     2487.50        2481.70        2456.66

    Total Traded Quantity      Turnover  No. of Trades       DQ  \
0                 5931774  1.447121e+10         211881  2872619
1                 5931774  1.447121e+10         211881  2872619
2                 3126873  7.630367e+09         158691  1216161
3                 5125968  1.234908e+10         226214  2888548
4                 6227901  1.477358e+10         197401  3920789
..                    ...           ...            ...      ...
16                5656799  1.355429e+10         199494  3028604
17                3849222  9.243999e+09         160500  1800381
18                7349740  1.753714e+10         257511  3924279
19                5145644  1.232985e+10         185464  2824434
20                9886295  2.428730e+10         274442  5961590

    % Dly Qt to Traded Qty
0                    48.43
1                    48.43
2                    38.89
3                    56.35
4                    62.96
..                     ...
16                   53.54
17                   46.77
18                   53.39
19                   54.89
20                   60.30

[21 rows x 15 columns]

In [207]:
# changing the 1st row
df.loc[0] = df.loc[1]
# we can also give a complete list of values 
print(df)

          Dates  RELIANCE Series       PC       OP       HP       LP  \
0   17-Feb-2022  RELIANCE     EQ  2412.95  2420.10  2454.90  2410.00
1   17-Feb-2022  RELIANCE     EQ  2412.95  2420.10  2454.90  2410.00
2   18-Feb-2022  RELIANCE     EQ  2443.50  2444.40  2456.40  2420.15
3   21-Feb-2022  RELIANCE     EQ  2424.40  2412.00  2437.50  2384.60
4   22-Feb-2022  RELIANCE     EQ  2399.90  2352.90  2395.90  2347.15
..          ...       ...    ...      ...      ...      ...      ...
16  11-Mar-2022  RELIANCE     EQ  2392.25  2376.05  2411.00  2376.05
17  14-Mar-2022  RELIANCE     EQ  2399.15  2386.90  2424.40  2374.00
18  15-Mar-2022  RELIANCE     EQ  2418.85  2427.95  2427.95  2340.85
19  16-Mar-2022  RELIANCE     EQ  2363.45  2382.00  2407.90  2377.10
20  17-Mar-2022  RELIANCE     EQ  2403.35  2432.75  2497.40  2415.10

    Last Price       CP       AP      TTQ      Turnover  No. of Trades  \
0      2441.00  2443.50  2439.61  5931774  1.447121e+10         211881
1      2441.00  2443.50  2439.61  5931774  1.447121e+10         211881
2      2427.30  2424.40  2440.25  3126873  7.630367e+09         158691
3      2399.60  2399.90  2409.12  5125968  1.234908e+10         226214
4      2389.75  2389.00  2372.16  6227901  1.477358e+10         197401
..         ...      ...      ...      ...           ...            ...
16     2393.15  2399.15  2396.11  5656799  1.355429e+10         199494
17     2422.20  2418.85  2401.52  3849222  9.243999e+09         160500
18     2362.00  2363.45  2386.09  7349740  1.753714e+10         257511
19     2401.50  2403.35  2396.17  5145644  1.232985e+10         185464
20     2487.50  2481.70  2456.66  9886295  2.428730e+10         274442

         DQ  % Dly Qt to Traded Qty
0   2872619                   48.43
1   2872619                   48.43
2   1216161                   38.89
3   2888548                   56.35
4   3920789                   62.96
..      ...                     ...
16  3028604                   53.54
17  1800381                   46.77
18  3924279                   53.39
19  2824434                   54.89
20  5961590                   60.30

[21 rows x 15 columns]

In [218]:
df.loc[[1],'RELIANCE'] = 'Tata'
print(df)

                Dates  RELIANCE Series       PC       OP       HP       LP  \
0         17-Feb-2022  RELIANCE     EQ  2412.95  2420.10  2454.90  2410.00
1         17-Feb-2022      Tata     EQ  2412.95  2420.10  2454.90  2410.00
2         18-Feb-2022  RELIANCE     EQ  2443.50  2444.40  2456.40  2420.15
3         21-Feb-2022  RELIANCE     EQ  2424.40  2412.00  2437.50  2384.60
4         22-Feb-2022  RELIANCE     EQ  2399.90  2352.90  2395.90  2347.15
...               ...       ...    ...      ...      ...      ...      ...
17        14-Mar-2022  RELIANCE     EQ  2399.15  2386.90  2424.40  2374.00
18        15-Mar-2022  RELIANCE     EQ  2418.85  2427.95  2427.95  2340.85
19        16-Mar-2022  RELIANCE     EQ  2363.45  2382.00  2407.90  2377.10
20        17-Mar-2022  RELIANCE     EQ  2403.35  2432.75  2497.40  2415.10
RELIANCE          NaN       NaN    NaN      NaN      NaN      NaN      NaN

          Last Price       CP       AP        TTQ      Turnover  \
0            2441.00  2443.50  2439.61  5931774.0  1.447121e+10
1            2441.00  2443.50  2439.61  5931774.0  1.447121e+10
2            2427.30  2424.40  2440.25  3126873.0  7.630367e+09
3            2399.60  2399.90  2409.12  5125968.0  1.234908e+10
4            2389.75  2389.00  2372.16  6227901.0  1.477358e+10
...              ...      ...      ...        ...           ...
17           2422.20  2418.85  2401.52  3849222.0  9.243999e+09
18           2362.00  2363.45  2386.09  7349740.0  1.753714e+10
19           2401.50  2403.35  2396.17  5145644.0  1.232985e+10
20           2487.50  2481.70  2456.66  9886295.0  2.428730e+10
RELIANCE         NaN      NaN      NaN        NaN           NaN

          No. of Trades         DQ  % Dly Qt to Traded Qty     1 (RELIANCE, 1)
0              211881.0  2872619.0                   48.43   NaN          Tata
1              211881.0  2872619.0                   48.43   NaN          Tata
2              158691.0  1216161.0                   38.89   NaN          Tata
3              226214.0  2888548.0                   56.35   NaN          Tata
4              197401.0  3920789.0                   62.96   NaN          Tata
...                 ...        ...                     ...   ...           ...
17             160500.0  1800381.0                   46.77   NaN          Tata
18             257511.0  3924279.0                   53.39   NaN          Tata
19             185464.0  2824434.0                   54.89   NaN          Tata
20             274442.0  5961590.0                   60.30   NaN          Tata
RELIANCE            NaN        NaN                     NaN  Tata          Tata

[22 rows x 17 columns]

In [222]:
# we cannot assign values like this
df[1]['RELIANCE'] = 'RELIANCE'

C:\Users\rahma\AppData\Local\Temp/ipykernel_5660/1512280573.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[1]['RELIANCE'] = 'RELIANCE'

In [226]:
# lets lowercase the column 'RELIANCE'
df['RELIANCE'].str.lower()

0           reliance
1               tata
2           reliance
3           reliance
4           reliance
              ...
17          reliance
18          reliance
19          reliance
20          reliance
RELIANCE         NaN
Name: RELIANCE, Length: 22, dtype: object

In [231]:
# we cannot apply a function over the method loc() like this
# it is not supposed to work
# we can use some other functions like apply , apply map, map , replace .
df.loc[:,'RELIANCE'].str.upper()

0           RELIANCE
1               TATA
2           RELIANCE
3           RELIANCE
4           RELIANCE
              ...
17          RELIANCE
18          RELIANCE
19          RELIANCE
20          RELIANCE
RELIANCE         NaN
Name: RELIANCE, Length: 22, dtype: object

In [252]:
# apply
df.dropna(axis = 'index')
df.loc[:,'RELIANCE'].astype(str).apply(len)

0           8
1           4
2           8
3           8
4           8
           ..
17          8
18          8
19          8
20          8
RELIANCE    3
Name: RELIANCE, Length: 22, dtype: int64

In [254]:
# problem with apply
df.apply(len)
# it returned no. of rows in each column

Dates                     22
RELIANCE                  22
Series                    22
PC                        22
OP                        22
                          ..
No. of Trades             22
DQ                        22
% Dly Qt to Traded Qty    22
1                         22
(RELIANCE, 1)             22
Length: 17, dtype: int64

In [258]:
# applymap
print(df.astype(str).applymap(len))

          Dates  RELIANCE  Series  PC  OP  HP  LP  Last Price  CP  AP  TTQ  \
0            11         8       2   7   6   6   6           6   6   7    9
1            11         4       2   7   6   6   6           6   6   7    9
2            11         8       2   6   6   6   7           6   6   7    9
3            11         8       2   6   6   6   6           6   6   7    9
4            11         8       2   6   6   6   7           7   6   7    9
...         ...       ...     ...  ..  ..  ..  ..         ...  ..  ..  ...
17           11         8       2   7   6   6   6           6   7   7    9
18           11         8       2   7   7   7   7           6   7   7    9
19           11         8       2   7   6   6   6           6   7   7    9
20           11         8       2   7   7   6   6           6   6   7    9
RELIANCE      3         3       3   3   3   3   3           3   3   3    3

          Turnover  No. of Trades  DQ  % Dly Qt to Traded Qty  1  \
0               14              8   9                       5  3
1               14              8   9                       5  3
2               13              8   9                       5  3
3               14              8   9                       5  3
4               13              8   9                       5  3
...            ...            ...  ..                     ... ..
17              13              8   9                       5  3
18              14              8   9                       5  3
19              13              8   9                       5  3
20              13              8   9                       4  3
RELIANCE         3              3   3                       3  8

          (RELIANCE, 1)
0                     4
1                     4
2                     4
3                     4
4                     4
...                 ...
17                    4
18                    4
19                    4
20                    4
RELIANCE              4

[22 rows x 17 columns]

In [260]:
# map
# used to change some values
# the values that are not changed will be set to NaN
df['RELIANCE'].map({'RELIANCE':'TATA'})

0           TATA
1            NaN
2           TATA
3           TATA
4           TATA
            ...
17          TATA
18          TATA
19          TATA
20          TATA
RELIANCE     NaN
Name: RELIANCE, Length: 22, dtype: object

In [264]:
# replace
# Consider the scenario that i dont want to change the non assigned values , here we can use replace
df['RELIANCE'].replace({'RELIANCE':'TATA'})

0           TATA
1           Tata
2           TATA
3           TATA
4           TATA
            ...
17          TATA
18          TATA
19          TATA
20          TATA
RELIANCE     NaN
Name: RELIANCE, Length: 22, dtype: object

### Add / Remove Rows and Columns

In [272]:
# combine two columnns
df1['first']+df1['last']

0    ashitaskani
1       askinuke
2     huskyswart
3     messilenon
4         peleno
5    ronoldochri
6    kabibnurmog
dtype: object

In [276]:
# creating a new column and storing the series first and last
df1['Full Name'] = df1['first'] + df1['last']
print(df1)

     first     last  age    Full Name
0     ashi  taskani   21  ashitaskani
1     aski     nuke   23     askinuke
2    husky    swart   50   huskyswart
3    messi    lenon   45   messilenon
4     pele       no   75       peleno
5  ronoldo     chri   47  ronoldochri
6    kabib   nurmog   35  kabibnurmog

In [287]:
# lets remove first and last columns
df1.drop(columns=['first','last'])

   age    Full Name
0   21  ashitaskani
1   23     askinuke
2   50   huskyswart
3   45   messilenon
4   75       peleno
5   47  ronoldochri
6   35  kabibnurmog

In [286]:
# lets add a new row 
df1.append({'age':34,'Full Name':'noname'},ignore_index= True)

C:\Users\rahma\AppData\Local\Temp/ipykernel_5660/3539832039.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append({'age':34,'Full Name':'noname'},ignore_index= True)

     first     last  age    Full Name
0     ashi  taskani   21  ashitaskani
1     aski     nuke   23     askinuke
2    husky    swart   50   huskyswart
3    messi    lenon   45   messilenon
4     pele       no   75       peleno
5  ronoldo     chri   47  ronoldochri
6    kabib   nurmog   35  kabibnurmog
7      NaN      NaN   34       noname

In [292]:
pd.concat([{'age':34,'Full Name':'nn'},'df1'])

TypeError: cannot concatenate object of type '<class 'dict'>'; only Series and DataFrame objs are valid